/*
Theme Name: SocialNow by MyThemeShop
Theme URI: http://mythemeshop.com/themes/socialnow/
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: SocialNow is a stunning modern WordPress theme that's perfect for highly shareable content with a number of powerful in-built social functions. Fast, light and great for increasing visits and shares.
Version: 1.0.8
Text Domain: socialnow
Domain Path: /lang
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html { -webkit-font-smoothing: antialiased }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
img, video, object {
	max-width: 100%;
	height: auto!important;
}
iframe { max-width: 100% }
blockquote {
	font-style: italic;
	padding: 20px 30px 20px 70px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #f5f5f5;
	line-height: 22px;
}
blockquote:after {
	font-family: georgia;
	position: absolute;
	content: '\201E';
	font-size: 75px;
	width: 50px;
	top: 0px;
	left: 20px;
	color: #34495e;
	font-style: normal;
}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
	font-weight: normal;
	font-style: normal;
}
code {
	padding: 0 8px;
	line-height: 1.5;
}
mark {
	padding: 1px 6px;
	margin: 0 2px;
	color: black;
	background: #FFF7A8;
}
address {
	margin: 10px 0;
	font-style: italic;
}
.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 100%;
	box-sizing: border-box;
	padding: 5px 3px 10px;
	margin-bottom: 20px;
	text-align: center;
}
.sticky {}
.gallery-caption {}
#gallery-1 img { border: 0!important }
.bypostauthor {}
.wp-caption-text { margin-bottom: 0 }
dl {}
dt {
	float: left;
	clear: left;
	width: 100px;
	font-weight: bold;
}
dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
	overflow: hidden;
}
/* =WordPress Core
-------------------------------------------------------------- */
/*-[ Framework ]--------------------*/
.alignnone { margin: 5px 20px 20px 0 }
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright { float: right }
.alignleft { float: left }
a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone { margin: 5px 20px 20px 0 }
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 100%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}
.wp-caption.alignnone { margin: 5px 20px 20px 0 }
.widget .wp-caption.alignnone { margin-right: 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0 }
.wp-caption.alignright { margin: 5px 0 20px 20px }
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*-[ Framework ]--------------------*/
body {
	font: 16px/25px 'Open Sans', sans-serif;
	color: #757575;
	background-color: #fff;
	overflow-x: hidden;
}
::-moz-selection {
	background: #222;
	color: white;
	text-shadow: none;
}
::selection {
	background: #222;
	color: white;
	text-shadow: none;
}
#page, .container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 12px;
	color: #444;
}
h1 {
	font-size: 28px;
	line-height: 1.4;
}
h2 { line-height: 1.4 }
h3 {
	font-size: 22px;
	line-height: 1.4;
}
h4 {
	font-size: 20px;
	line-height: 1.4;
}
h5 {
	font-size: 18px;
	line-height: 1.4;
}
h6 {
	font-size: 16px;
	line-height: 1.4;
}
.sub-title { font-size: 12px }
p { margin-bottom: 20px }
a {
	color: #ff5722;
	text-decoration: none;
	transition: all 0.25s ease;
}
a:hover { color: #ff5722 }
a:link, a:visited, a:active { text-decoration: none }
/*-[ Main container ]---------------*/
.main-container {
	width: 100%;
	margin: 0 auto;
	clear: both;
	display: block;
}
#page, .container {
	max-width: 1170px;
	min-width: 240px;
}
#page {
	padding-top: 30px;
	min-height: 100px;
	float: none;
	clear: both;
}
#page.single { padding-top: 60px }
/*-[ Header ]-----------------------*/
header {
	float: left;
	width: 100%;
	position: relative;
}
#site-header {
	position: relative;
	float: left;
	width: 100%;
	z-index: 99;
}
#header {
	width: 100%;
	float: left;
	background: #fff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}
#header h1, #header h2 {
	font-size: 35px;
	float: left;
	display: inline-block;
	line-height: 1;
	position: relative;
	margin-bottom: 0;
}
#logo a {
	float: left;
	line-height: 1;
}
#logo img {float: left;margin-top: 4px;}
.logo-wrap {
	float: left;
	padding-top: 20px;
	min-width: 180px;
	background: #ff5722;
	position: relative;
	min-height: 80px;
	box-sizing: border-box;
}
.logo-wrap:before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 1000px;
	height: 100%;
	background: #ff5722;
}
/*-[ Navigation ]-----------------*/
.menu-item-has-children > a:after {
	content: "\f107";
	font-family: FontAwesome;
	position: absolute;
	right: 20px;
	line-height: 80px;
	top: 0;
}
#primary-navigation .menu-item-has-children > a:after { line-height: 28px; }
.navigation li.menu-item-has-children:hover > a:after { content: "\f106" }
.navigation .menu-item-has-children > a { padding-right: 35px }
#primary-navigation .navigation { float: left }
#secondary-navigation { float: left }
#secondary-navigation .menu a {
	position: relative;
	padding: 26px 20px 30px; 
	border-right: 1px solid rgba( 0, 0, 0, 0.07 );
}
#secondary-navigation .sub-menu a {
   border-right: none;
   padding: 25px 20px 24px;
   box-sizing: border-box;
   color: #fff;
}
#secondary-navigation .sub-menu a:before { display: none }
#secondary-navigation .navigation .menu-item-has-children > a {padding-right: 38px;}
.navigation a { padding: 2px 14px 1px }
#secondary-navigation a .sub {
	font-size: 11px;
	font-weight: normal;
	color: #9B9B9B;
}
.navigation ul { margin: 0 auto }
.navigation ul li {
	float: left;
	line-height: 24px;
	position: relative;
}
.navigation ul li a, .navigation ul li a:link, .navigation ul li a:visited { display: inline-block }
.navigation ul ul {
	position: absolute;
	width: 190px;
	padding: 20px 0 0 0;
	padding-top: 0;
	z-index: 400;
	font-size: 12px;
	color: #798189;
	right: 0;
}
.navigation ul ul li { 
	background: #34495e; 
	border-bottom: 1px solid rgba(255, 255, 255,0.15); 
}
.navigation ul ul a, .navigation ul ul a:link, .navigation ul ul a:visited {
	position: relative;
	width: 190px;
	padding: 10px 20px 10px 20px;
	background: transparent;
	box-sizing: border-box;
}
.navigation ul ul li:first-child a {  }
.navigation ul ul li:last-child a { border-bottom: none }
.navigation ul ul { display: none }
.navigation ul ul ul {
	left: 190px;
	top: 0;
}
.sub-menu .menu-item-has-children:after { color: #fff }
.navigation .toggle-caret { display: none }
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1 }
a#pull { display: none }
.navigation i { margin-right: 4px }
/*..................SEARCH-BOX Header.....................*/
.search-style-one {
	float: right;
	line-height: 80px;
	padding-left: 15px;
}
#header #s::-webkit-input-placeholder { color: #fefefe }
#header #s::-moz-placeholder { color: #fefefe }
#header #s:-ms-input-placeholder { color: #fefefe }
#header #s:-moz-placeholder { color: #fefefe }
.search-row form#searchform {
	float: none;
	max-width: 1170px;
	margin: 0 auto;
	border: 0;
	background: transparent;
}
.search-style-one a {
	cursor: pointer;
	color: #34495e;
	border: none;
	background: transparent;
	line-height: 80px;
	display: block;
}
.search-style-one a i { font-size: 16px }
.search-row {
	height: 80px;
	position: relative;
	width: 100%;
}
#header .search-row input#s {
	height: 80px;
	line-height: 80px;
	width: 92%;
	color:#fefefe;
	font-weight: 300;
	padding-left: 0;
	font-size: 40px;
	padding-right: 10px;
}
.search-row input[placeholder] { color: #fefefe }
/* Overlay style */
.overlay {
	position: absolute;
	width: 100%;
	height: 80px;
	top: 0;
	right: 0;
	background: rgba(52, 73, 94, 0.9);
	z-index: 2000;
}
.overlay .overlay-close {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 15px;
	right: -15px;
	float: right;
	padding: 0;
	border: none;
	cursor: pointer;
	text-align: right;
	background: transparent;
}
/* Effects */
.overlay-slideleft.close {
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #000;
	text-shadow: none;
	filter: alpha(opacity=20);
	opacity: 1;
}
.overlay-slideleft.close:hover, .overlay-slideleft.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=1);
	opacity: 1;
}
.overlay-slideleft {
	visibility: hidden;
	-webkit-transform: translateX(90%);
	transform: translateX(90%);
	-webkit-transition: -webkit-transform 0.4s linear, visibility 0.1s;
	transition: transform 0.4s linear, visibility 0.1s;
}
.overlay-slideleft.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}
/* Flyout nav */
#header.sticky-navigation-active {
	z-index: 500;
	position: fixed;
	top: 0;
	margin: 0 !important;
	-webkit-backface-visibility: hidden;
}
.admin-bar #header.sticky-navigation-active { top: 32px }
.sticky-navigation a { transition: all 0.25s linear }
.upper-navigation {
	float: left;
	width: 100%;
	clear: both;
	background: #f5f5f5;
	padding: 26px 0;
}
.header-social {
	float: left;
	margin-left: 4px;
}
#primary-navigation { float: right }
#primary-navigation .navigation .menu > li a {
	position: relative;
	border-top: 1px solid transparent;
}
#primary-navigation .navigation .sub-menu li a { border-top: 0; color: #fff; }
#primary-navigation .navigation .menu > li a:before, #primary-navigation .navigation .menu > li:first-child a:after {
	position: absolute;
	content: '';
	width: 1px;
	height: 20px;
	background: rgba(0, 0, 0, 0.03);
	right: -1px;
	top: 4px;
	transition: all 0.25s ease;
}
#primary-navigation .navigation .menu > li:first-child a:after { right: auto; } 
#primary-navigation .navigation .menu > li:hover a:before, #primary-navigation .navigation .menu > li:first-child:hover a:after, #primary-navigation .navigation .sub-menu li a:before, #primary-navigation .navigation .sub-menu li a:after { display: none!important }
#primary-navigation .navigation ul li:hover > a {
	background: #fff;
	color: #34495e;
	border-top: 1px solid #ff5722;
}
#primary-navigation .navigation ul ul li:hover > a {
	background: #34495e;
	color: #fff;
	border-top: 0;
}
#secondary-navigation .navigation ul li:hover > a { color: #fff!important }
#secondary-navigation .navigation ul li:hover > a:before { opacity: 1 }
.header-social a {
	float: left;
	width: 28px;
	line-height: 28px;
	text-align: center;
	margin-right: 5px;
	font-size: 14px;
	background: #d1d1d1;
	color: #fff!important;
	border-radius: 50%;
}
.header-social a:last-child { margin-right: 0 }
.header-social a:hover { background: #ff5722 }

/*-[ Content ]--------------------*/
.article {
	width: 68.377%;
	max-width: 800px;
	float: left;
	margin-bottom: 10px;
}
.error404 .article, .search .article { min-height: 500px }
#content_box {
	float: left;
	width: 100%;
}
.post {
	float: left;
	width: 100%;
}
.single_post {
	float: left;
	width: 100%;
	margin-bottom: 40px;
	overflow: hidden;
}
.single_post .post-info {
	float: none;
	clear: none;
	width: auto;
	display: inline-block;
}
.single_post a.thecategory {
	line-height: 40px;
	padding: 0 15px;
	background: #ff5722;
	color: #fff;
	display: inline-block;
	margin-right: 15px;
}
.single_page {
	background-color: white;
	padding-top: 0;
}
.post-content {
	margin-bottom: 15px;
	clear: both;
	float: left;
	width: 100%;
}
.post-single-content { clear: both }
.readMore {
	float: left;
	color: #757575;
	clear: both;
}
.frontPost .readMore a {
	color: #000;
	font-size: 12px;
}
.ss-full-width {
	overflow: hidden;
	padding-top: 0;
}
.ss-full-width #content_box {
	padding-right: 0;
	padding-left: 0;
}
.post.excerpt {
	clear: both;
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 15px;
	background-color: #fff;
	width: auto;
}
.wp-post-image { float: left }
.featured-thumbnail {
	float: left;
	max-width: 100%;
	border-bottom: 4px solid #ff5722;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}
.featured-thumbnail:before {
	content: "";
	position: absolute;
	z-index: 4;
	left: 0;
	right: 100%;
	bottom: -4px;
	background: #34495e;
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.single_post .featured-thumbnail:before { display: none }
.featured-thumbnail:hover:before, .featured-thumbnail:focus:before, .featured-thumbnail:active:before { right: 0 }
.related-posts .featured-thumbnail:before { display: none }
.post-image {
	float: left;
	display: block;
	position: relative;
}
.post-image-fullwidth {
	margin-bottom: 10px;
	display: block;
	position: relative;
}
.featured-thumbnail img {
	float: left;
	width: 100%;
}
.header-wrap { overflow: hidden; }
.grid-1 .featured-thumbnail img, .grid-4 .featured-thumbnail img {
	max-width: 300px;
	float: left;
}
.title { clear: both }
.single-title {
	float: left;
	width: 100%;
	line-height: 1;
	margin-top: 33px;
	margin-bottom: 35px;
}
.page h1.title { margin-bottom: 20px }
.page .breadcrumb { margin-bottom: 10px }
.post-info {
	float: left;
	width: 100%;
	display: block;
	clear: both;
	line-height: 22px;
}
.post-info a { font-weight: bold }
.post-info > span {margin-right: 0px;display: inline-block;float: none;}

.post-info > span:last-child {
    margin-right: 0;
}
.single_post .post-info > span { margin-right: 0 }
.post-info span.post-pre { font-weight: 500 }
.related-posts .post-info {
	clear: none;
	float: none;
	color: #fff;
}
.related-posts .post-info > span { color: #ff5722 }
.related-posts .small-post .post-info > span { font-size: 14px }
.related-posts .post-info span.authorthe { color: #fff; font-weight: bold; }
.single_post .featured-thumbnail { margin-bottom: 35px; border-bottom: 0; }
.single_post img { border-bottom: 4px solid #ff5722 }
/**********latest-posts***********/
article header {
	float: left;
	width: 100%;
}
.latestPost {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
.latestPost .title { display: block }
.grid-4 .latestPost .title { margin-bottom: 10px; line-height: 22px; }
.grid-1 .latestPost .title { margin-bottom: 16px; line-height: 40px; }
.latestPost .title a:hover { color: #ff5722 }
.grid-4 .latestPost .title a { font-size: 20px }
.grid-4 .post-info > span { font-size: 14px }
.grid-4 .latestPost header { margin-top: 21px }
.front-view-content {margin-bottom: 16px;float: left;width: 100%;}
.single_post header { margin-bottom: 10px }
.grid-4 {
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 42px;
}
.grid-4 .latestPost {
	width: 22.37%;
	max-width: 179px;
	margin-right: 3.5%;
	margin-bottom: 5px;
}
.grid-4 .latestPost:nth-child(4n) { margin-right: 0 }
.grid-1 {
	float: left;
	width: 100%;
	clear: both;
}
.grid-1 .latestPost .post-image { margin-right: 3.5% }
.featured-category-title {
	font-size: 40px;
	line-height: 1;
	float: left;
	width: 100%;;
	clear: both;
	margin-bottom: 55px;
}
.featured-category-title a { color: inherit }
article img.left, article img.alignleft, .wp-caption.alignleft {
	margin: 0.3em 1.571em 0.5em 0;
	display: block;
	float: left;
}
article img.right, article img.alignright, .wp-caption.alignright {
	margin: 0.3em 0 0.5em 1.571em;
	display: block;
	float: right;
}
article img.center, article img.aligncenter, .wp-caption.aligncenter {
	margin: 0.3em auto 0.5em auto;
	display: block;
}
article img.aligncenter, article img.alignnone {
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
	clear: both;
}
article ul {
	margin: 1.5em 0 1.571em 2.5em;
	list-style-type: disc;
}
article ol {
	margin: 1.5em 0 1.571em 2.5em;
	list-style-type: decimal;
}
article ul ul, article ol ol, article ul ol, article ol ul {
	margin-top: 0;
	margin-bottom: 0;
}
article .iconlist { margin-left: 0 }
article .iconlist li { list-style-type: none }
.review-list li { z-index: 1 }
/*-[ Facebook like box Widget ]---------------------------*/
.fb_iframe_widget, .fb_iframe_widget span {
	max-width: 100%;
	width: 100%!important;
}
/*-[ Custom Nav Widget ]---------------------------*/
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a { padding-left: 5px }
.widget_nav_menu .menu-item-has-children > a:after { content: '' }
/*-[ Toggle menu ]---------------------------*/
.toggle-menu ul ul { display: none }
.toggle-menu .toggle-menu-item-parent { position: relative }
.toggle-menu .toggle-caret {
	position: absolute;
	top: 6px;
	right: 5px;
	text-align: center;
	cursor: pointer;
	line-height: inherit;
}
.toggle-menu .toggle-caret .fa {
	width: 20px;
	text-align: center;
	font-size: 14px;
	color: inherit;
	line-height: 20px;
}
.toggle-menu .active > .toggle-caret .fa:before { content: "\f068" } /*minus*/
/*--[Subscribe Widget]-------------------*/
.widget #wp-subscribe {
	background: #34495e;
	padding: 20px;
	box-sizing: border-box;
}
.widget #wp-subscribe h4.title {
	font-size: 20px;
	color: #fff;
	line-height: 25px;
	text-transform: none;
}
.widget #wp-subscribe h4.title span {
	font-size: 20px;
	margin-top: 0;
}
.widget #wp-subscribe p.text {
	color: #fff;
	line-height: 20px;
	margin: 14px 0 17px 0;
	opacity: 1;
}
.widget #wp-subscribe input {
	height: 40px;
	font-size: 16px!important;
	color: #fff;
}
.widget #wp-subscribe input.email-field {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: #fff;
	padding: 0 10px;
	margin-top: 0;
}
.widget #wp-subscribe input.submit {
	background: #ff5722;
	color: #fff;
	margin-top: 10px;
	font-weight: bold;
}
.widget #wp-subscribe p.footer-text { margin-top: 15px }
/*-[Text Widget]------------------*/
.textwidget p:last-child, #site-footer .textwidget p:last-child { margin-bottom: 0; }
/*-[Tabs Widget]------------------*/
.widget .wpt_widget_content { border: none }
.wpt_widget_content ul.wpt-tabs li { border: none!important }
.widget .wpt_widget_content .tab_title a {
	line-height: 1.6;
	padding: 14px 0;
	background: #d6dbdf;
	color: #34495e!important;
	font-size: 20px;
	border: none!important;
}
#site-footer .widget .wpt_widget_content .tab_title a { font-size: 20px }
.widget .wpt_widget_content .tab_title.selected a {
   background: #ff5722;
   color: #fff!important;
}
.widget .wpt_widget_content .inside {
	padding-top: 26px;
	background: transparent;
}
.widget .wpt_widget_content .tab-content li {
	padding: 0;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 19px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.widget .wpt_widget_content .tab-content li:first-child { padding-top: 0 }
.widget .wpt_thumb_small {
   width: auto;
   height: auto;
   padding-top: 0;
}
.widget .wpt_widget_content .entry-title a { font-size: 18px }
.widget .wpt_widget_content .tab-content li .wpt_thumb_large + .entry-title {
	font-size: 20px;
	float: left;
	width: 100%;
	margin-top: 26px;
}
.widget .wpt_widget_content .tab-content li .wpt_thumb_large + .entry-title + .wpt-postmeta, .widget .wpt_widget_content .tab-content li .wpt_thumb_large + .entry-title + .wpt-postmeta + .wpt_excerpt { 
	float: left; 
	width: 100%; 
}
.widget .wpt_widget_content .wpt-postmeta, .widget .wpt_comment_content, .widget .wpt_excerpt {
	font-size: 14px!important;
	margin-top: 10px;
	color: #757575
}
.widget .wpt_widget_content .wpt-pagination a { color: #ff5722; font-weight: bold; }
.widget .wpt_widget_content .wpt-pagination a { margin: 0; font-weight: bold; }
.widget .wpt_avatar { margin-right: 30px }
.widget .wpt_widget_content .has-4-tabs .tab_title.selected a { border-bottom: none }
.widget .wpt_widget_content .has-4-tabs .tab_title:nth-child(3) { clear: left }
.widget .wpt_widget_content #tags-tab-content ul li a {
	background: #d6dbdf;
	padding: 15px 10px;
}
.widget .wpt_widget_content ul.has-4-tabs li, .widget .wpt_widget_content ul.has-3-tabs li { border-bottom: none }
.widget .wpt_widget_content .has-4-tabs .tab_title a {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff; 
}
.widget .wpt_widget_content .has-4-tabs .tab_title:nth-child(even) a { border-right: none }
.widget .wpt_widget_content .has-3-tabs .tab_title a { border-right: 1px solid #fff }
.widget .wpt_widget_content .has-3-tabs .tab_title:nth-child(3) a { border-right: none }

/*-[Review Widget]------------------*/
.widget .wp_review_tab_widget_content { border: none }
.widget .wp_review_tab_widget_content .tab_title a {
   line-height: 1.6;
   padding: 14px 0;
   background: #d6dbdf;
   color: #34495e!important;
   font-size: 20px;
   border: none;
}
#site-footer .widget .wp_review_tab_widget_content .tab_title a { font-size: 20px }
.widget .wp_review_tab_widget_content .tab_title.selected a {
   background: #ff5722;
   color: #fff!important;
   border: none;
}
.widget .wp_review_tab_widget_content .inside {
   padding-top: 30px;
   background: transparent;
}
.widget .wp_review_tab_widget_content .tab-content li {
   margin: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
   padding: 0;
   padding-bottom: 20px;
   margin-top: 20px;
   color: inherit;
}
.widget .wp_review_tab_widget_content .tab-content li:first-child {
   padding-top: 0;
   margin-top: 0;
}
.widget .wp_review_tab_thumb_small {
   width: auto;
   height: auto;
   padding-top: 0;
   margin-right: 9%!important;
   overflow: visible;
   margin-top: 0!important;
}
.widget .wp_review_tab_widget_content .entry-title { margin-bottom: 12px }
.widget .wp_review_tab_widget_content .entry-title a { font-size: 18px }
.widget .wp_review_tab_widget_content .wp-review-tab-postmeta {
   font-size: 14px!important;
   margin-top: 0;
}
.widget .review-total-only.small-thumb {
   font-size: 14px!important;
   padding: 0;
   margin-top: 0;
}
.widget .wp_review_tab_widget_content .wp-review-tab-pagination a { margin: 0; font-weight: bold; }
.widget .title-right { overflow: visible }
.widget .wp_review_tab_widget_content .has-4-tabs .tab_title.selected a { border-bottom: none }
.widget .wp_review_tab_widget_content .has-4-tabs .tab_title:nth-child(3) { clear: left }
.widget .wp_review_tab_widget_content ul.has-4-tabs li, .widget .wp_review_tab_widget_content ul.has-3-tabs li { border-bottom: none }
.widget .wp_review_tab_widget_content .has-4-tabs .tab_title a {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff; 
}
.widget .wp_review_tab_widget_content .has-4-tabs .tab_title:nth-child(even) a { border-right: none }
.widget .wp_review_tab_widget_content .has-3-tabs .tab_title a { border-right: 1px solid #fff }
.widget .wp_review_tab_widget_content .has-3-tabs .tab_title:nth-child(3) a { border-right: none }
.widget .review-total-only.large-thumb { top: 0!important; right: 0!important; color: #fff }
.widget .wp-review-show-total .review-star, .widget .wp-review-user-rating .review-star { margin: 0 }
#wpmm-megamenu .review-total-only { color: #fff }

/*-[ Form Input ]------------------*/
input, textarea, select {
	padding: 8px 12px;
	font-size: 14px;
	color: #666;
	border: 1px solid #D8D8D8;
	font-family: inherit;
}
input[type="submit"] { 
	color: #fff;
	background: #ff5722; 
	border: 0;
	padding: 9px 15px;
	cursor: pointer;
}
textarea {
	overflow: auto;
	resize: vertical;
}
select {
	padding: 6px 10px;
	border-color: #D8D8D8;
	width: 100%;
	clear: both;
}
input:focus, textarea:focus {

}
/*-[ Tables ]--------------------*/
table {
	width: 100%;
	text-align: left;
	margin-bottom: 25px;
	border: 1px solid #dedede;
}
thead {
	background: #F7F8F9;
	font-size: 14px;
	color: #585F65;
}
table th, table td {
	padding: 7px 15px;
	text-align: left;
}
thead th { padding: 14px }
tbody th {
	font-weight: normal;
	border-bottom: 1px solid #dedede;
}
/*-[ Line ]---------------------*/
hr {
	border: none;
	border-bottom: 1px solid #E5E5E5;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	width: 297px;
	margin: 35px 0;
	clear: both;
	position: relative;
}
/*-[ Search Form ]------------------*/
#searchform {
	float: left;
	position: relative;
	clear: both;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1)
}
.widget #searchform, .article #searchform { width: 100% }
.article #searchform { max-width: 300px }
.sbutton, #searchsubmit {
	float: right;
	width: 14%;
	height: 38px;
	cursor: pointer;
	position: relative;
	border: 0;
	background: transparent;
	transition: all 0.25s linear;
}
#searchform .fa-search {
	font-size: 16px;
	top: 10px;
	color: #bbb;
	position: absolute;
	right: -1px;
	width: 100%;
}
#s {
	width: 86%;
	background: transparent;
	float: left;
	padding: 0 10px;
	text-indent: 3px;
	color: #bababa;
	border: none;
	box-sizing:border-box;
	height: 38px;
	font-weight: 300;
}
/* Search input placeholder text styling */
::-webkit-input-placeholder { color: #bababa }
:-moz-placeholder { color: #bababa }
::-moz-placeholder { color: #bababa }
:-ms-input-placeholder { color: #bababa }
:input-placeholder { color: #bababa }
/* Microphone icon position fix */
input::-webkit-input-speech-button {
	margin-right: 14px;
	margin-left: 4px;
	cursor: pointer;
}
#searchform fieldset { float: left; width: 100% }
.breadcrumb, .breadcrumb> div, .breadcrumb .fa-caret-right, .breadcrumb .root a { float: none }
.breadcrumb {
	clear: both;
	padding: 0;
	overflow: hidden;
	margin-bottom: 28px;
}
.breadcrumb > div {
	padding: 0 5px;
	overflow: hidden;
	float: none;
	display: inline-block;
}
.breadcrumb div.root, .breadcrumb > div:first-child { padding-left: 0 }
.no-results h2 { font-size: 16px; margin-bottom: 25px; }
/*-[ Read More ]-------------------*/
.read-more {
	margin: 0 0 0 10px;
	line-height: 1.4em;
	background: none;
	padding: 0;
	font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
	margin-bottom: 10px;
	clear: both;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
	float: left;
	clear: both;
	margin-top: 10px;
}
/*-[ Sidebar ]---------------------*/
.sidebar p, #site-footer p { 
	margin-bottom: 12px; 
}
.sidebar.c-4-12 {
	float: right;
	width: 25.642%;
	line-height: 20px;
	max-width: 300px;
}
.sidebar a { color: #34495e }
.sidebar .post-img, #site-footer .post-img, .widget .wpt_thumbnail, .widget .wp_review_tab_thumbnail {
	margin-bottom: 0;
	margin-top: 3px;
	margin-right: 8.35%;
	margin-left: 0;
	border-bottom: 4px solid #ff5722;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	float: left;
}
.widget .wpt_thumbnail.wpt_thumb_large, .widget .wp_review_tab_thumb_large {
	margin-right: 0;
	width: 100%;
}
.widget .wpt_thumbnail, .widget .wp_review_tab_thumbnail { margin-bottom: 12px; }
.widget .wpt_thumbnail.wpt_thumb_large .wp-post-image { width: 100% }
.widget .wp_review_tab_thumb_large .wp-post-image { width: 100% }
.widget .wp_review_tab_thumb_large { margin-bottom: 15px; margin-top: 0; }
#site-footer .post-img, #site-footer .widget .wpt_thumb_small, #site-footer .widget .wp_review_tab_thumb_small { margin-right: 25px }

/* Underline From Left */
.sidebar .post-img:before, .widget .wpt_thumbnail:before, #site-footer .post-img:before, .widget .wpt_thumbnail:before, .widget .wp_review_tab_thumbnail:before {
  content: "";
  position: absolute;
  z-index: 4;
  left: 0;
  right: 100%;
  bottom: -4px;
  background: #34495e;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sidebar .post-img:hover:before, .sidebar .post-img:focus:before, .sidebar .post-img:active:before, .widget .wpt_thumbnail:hover:before, .widget .wpt_thumbnail:focus:before, .widget .wpt_thumbnail:active:before, #site-footer .post-img:hover:before, #site-footer .post-img:focus:before, #site-footer .post-img:active:before, .widget .wp_review_tab_thumbnail:hover:before, .widget .wp_review_tab_thumbnail:focus:before, .widget .wp_review_tab_thumbnail:active:before { right: 0 }
.widget {
	margin-bottom: 37px;
	float: left;
	clear: both;
	width: 100%;
}
.widget li { 
	padding-top: 6px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.widget li:first-child {padding-top: 0;}
.widget li .children {
	margin-top: 5px; 
	margin-left: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.15); 
}
.widget.widget_archive li .children, .widget.widget_categories li .children { margin-left: 0 }
.widget.widget_archive li .children li, .widget.widget_categories li .children li { padding-right: 0; }
.widget_nav_menu .sub-menu { 
	margin-top: 5px; 
	margin-left: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.15); 
}
.widget li .children li:first-child, .widget_nav_menu .sub-menu li:first-child { padding-top: 6px }
.widget li .children li:last-child, .widget .menu .sub-menu li:last-child { 
	padding-bottom: 0;
	border-bottom: none; 
}
.widget li a:hover { color: #ff5722 }
#site-footer .widget li a:hover { color: #34495e }
.widget li:hover > .toggle-caret, #site-footer .widget.widget_nav_menu li:hover > a { color: #34495e } 
.widget.widget_archive li, .widget.widget_categories li { 
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.25s ease; 
}
#site-footer .widget.widget_archive li, #site-footer .widget.widget_categories li { cursor: pointer }
#site-footer .widget.widget_archive li:first-child, #site-footer .widget.widget_categories li:first-child { padding-top: 5px }
#site-footer .widget.widget_archive li:hover, #site-footer .widget.widget_categories li:hover { background: #fff; }
#site-footer .widget.widget_archive li:hover > a, #site-footer .widget.widget_categories li:hover > a { color: #34495e }
.widget h3 {
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 25px;
	padding-bottom: 18px;
	border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}
.widget h3 a { color: inherit }
.widget .post-info {
	width: auto;
	clear: none;
	font-size: 14px;
	margin-top: 10px;
}
.widget .post-info > span { font-size: 14px }
.widget .post-excerpt {
	float: left;
	overflow: hidden;
	margin-top: 12px;
}
.widget li.vertical-small .post-excerpt { max-height: 40px }
.widget .post-info a { font-size: 14px!important; color: #ff5722; }
.widget li.vertical-small .post-info > span { color: #ff5722 }
.widget .total-count {
	float: right;
	color: #ff5722;
}
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li {
	float: left;
	width: 100%;
	padding-top: 15px!important;
	padding-bottom: 20px!important;
	list-style: none!important;
	transition: all 0.25s linear;
}
.advanced-recent-posts li.vertical-small, .popular-posts li.vertical-small, .category-posts li.vertical-small, .related-posts-widget li.vertical-small, .author-posts-widget li.vertical-small {
	float: left;
	width: 100%;
	position: relative;
	padding: 0!important;
	border: 0;
	margin-bottom: 10px;
	overflow: hidden;
}
.advanced-recent-posts li.vertical-small .post-img, .popular-posts li.vertical-small .post-img, .category-posts li.vertical-small .post-img, .related-posts-widget li.vertical-small .post-img, .author-posts-widget li.vertical-small .post-img { border-bottom: 0!important }
.advanced-recent-posts li.vertical-small:last-child, .popular-posts li.vertical-small:last-child, .category-posts li.vertical-small:last-child, .related-posts-widget li.vertical-small:last-child, .author-posts-widget li.vertical-small:last-child { margin-bottom: 0 }
.advanced-recent-posts li.vertical-small .post-img, .popular-posts li.vertical-small .post-img, .category-posts li.vertical-small .post-img, .related-posts-widget li.vertical-small .post-img, .author-posts-widget li.vertical-small .post-img { margin: 0!important }
.advanced-recent-posts li.vertical-small:after, .popular-posts li.vertical-small:after, .category-posts li.vertical-small:after, .related-posts-widget li.vertical-small:after, .author-posts-widget li.vertical-small:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 80%;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.advanced-recent-posts li.vertical-small .post-data, .popular-posts li.vertical-small .post-data, .category-posts li.vertical-small .post-data, .related-posts-widget li.vertical-small .post-data, .author-posts-widget li.vertical-small .post-data  {
	position: absolute;
	bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	z-index: 1;
}
#site-footer .advanced-recent-posts li.vertical-small .post-data, #site-footer .popular-posts li.vertical-small .post-data, #site-footer .category-posts li.vertical-small .post-data, #site-footer .related-posts-widget li.vertical-small .post-data, #site-footer .author-posts-widget li.vertical-small .post-data {
	padding-left: 15px;
	padding-right: 15px;
	bottom: 15px;
}
.advanced-recent-posts li.vertical-small .post-info a, .popular-posts li.vertical-small .post-info a, .category-posts li.vertical-small .post-info a, .related-posts-widget li.vertical-small .post-info a, .author-posts-widget li.vertical-small .post-info a {
	color: #fff!important
}
.advanced-recent-posts li:last-child, .popular-posts li:last-child, .category-posts li:last-child, .related-posts-widget li:last-child, .author-posts-widget li:last-child {
	border-bottom: none;
	padding-bottom: 0!important;
}
.advanced-recent-posts li:first-child, .popular-posts li:first-child, .category-posts li:first-child, .related-posts-widget li:first-child, .author-posts-widget li:first-child { padding-top: 0!important }
.advanced-recent-posts li .post-title a, .popular-posts li .post-title a, .category-posts li .post-title a, .related-posts-widget li .post-title a, .author-posts-widget li .post-title a {
	font-size: 18px;
}
.advanced-recent-posts li.vertical-small .post-title a, .popular-posts li.vertical-small .post-title a, .category-posts li.vertical-small .post-title a, .related-posts-widget li.vertical-small .post-title a, .author-posts-widget li.vertical-small .post-title a {
	font-size: 20px!important;
	color: #fff!important;   
	max-height: 40px;
	overflow: hidden;
}
.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget p {
	margin: 0;
	font-size: 13px;
}
.ajax-search-results .meta {
	font-size: 13px;
	overflow: hidden;
	margin-top: 4px;
}
/*-[ Social Buttons ]--------------------------*/
.shareit {
	padding: 12px 0 7px;
	clear: both;
	border: none;
	z-index: 1;
	float: left;
	width: 100%;
}
.shareit.top { padding-top: 0!important }
.share-item {
	display: block;
	margin: 0;
	float: left;
	height: 25px;
	min-width: 90px;
}
.share-item.shareit.top {
	float: left;
	margin-bottom: 10px!important;
	margin-top: 0;
	width: 100%;
}
.share-item.facebookbtn {
	margin-top: -1px;
	height: 28px;
}
.share-item.pinbtn a { transition: none }
.share-item.stumblebtn {
	margin-top: 1px;
	height: 24px;
}
.share-item iframe { max-width: none }
/*-[ Social Profile Widget ]--------------------------*/
.widget .social-profile-icons ul {margin: 0 -3px;}
.widget .social-profile-icons ul li {
	float: left;
	list-style-type: none;
	padding: 0;
	margin: 0 3px 5px 3px!important;
	border: none;
	border-left: 3px solid;
}
.widget .social-profile-icons ul li a {
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	text-align: center;
	line-height: 42px;
	color: inherit;
	transition: all .4s;
	padding: 0;
	border: 1px solid #dedede;
	border-left: 0;
	box-sizing: border-box;
}
.social-profile-icons ul li a:hover {
}
.social-profile-icons ul li i {
	font-size: 16px;
	line-height: 32px;
}
.social-profile-icons ul li.social-youtube { color: #c9322b; border-color: #c9322b }
.social-profile-icons ul li.social-rss { color: #ef922f; border-color: #ef922f }
.social-profile-icons ul li.social-twitter { color: #40bff5; border-color: #40bff5 }
.social-profile-icons ul li.social-facebook {color: #5d82d1; border-color: #5d82d1;}
.social-profile-icons ul li.social-gplus { color: #eb5e4c; border-color: #eb5e4c }
.social-profile-icons ul li.social-vimeo { color: #35c6ea; border-color: #35c6ea }
.social-profile-icons ul li.social-dribbble { color: #f7659c; border-color: #f7659c }
.social-profile-icons ul li.social-tumblr { color: #426d9b; border-color: #426d9b }
.social-profile-icons ul li.social-instagram { color: #91653f; border-color: #91653f }
.social-profile-icons ul li.social-flickr { color: #ff48a3; border-color: #ff48a3 }
.social-profile-icons ul li.social-pinterest { color: #e13138; border-color: #e13138 }
.social-profile-icons ul li.social-linkedin { color: #238cc8; border-color: #238cc8 }
.social-profile-icons ul li.social-github { color: #b5a470; border-color: #b5a470 }
.social-profile-icons ul li.social-email { color: #1d90dd; border-color: #1d90dd }
.social-profile-icons ul li.social-behance { color: #1879fd; border-color: #1879fd }
.social-profile-icons ul li.social-skype { color: #13c1f3; border-color: #13c1f3 }
.social-profile-icons ul li.social-soundcloud { color: #ff7e30; border-color: #ff7e30 }
.social-profile-icons ul li.social-stumbleupon { color: #ff5c30; border-color: #ff5c30 }
.social-profile-icons ul li.social-dropbox { color: #3476e4; border-color: #3476e4 }
.social-profile-icons ul li.social-foursquare { color: #0bbadf; border-color: #0bbadf }
.social-profile-icons ul li.social-reddit { color: #ff4400; border-color: #ff4400 }
/*-[Tweets]---------------*/
.widget .mts_recent_tweets li { padding: 14px 0 }
.widget .mts_recent_tweets li:first-child { padding-top: 0 }
.widget .mts_recent_tweets li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.widget .mts_recent_tweets li a, #site-footer .widget .mts_recent_tweets li a {
	font-family: inherit;
	font-size: inherit;
}
.widget .mts_recent_tweets .twitter_time, #site-footer .widget .mts_recent_tweets .twitter_time {
	font-size: 12px;
	font-weight: inherit;
	color: inherit;
	display: block;
	margin-top: 10px;
}
/*-[ Footer ]-------------------*/
#site-footer .footeText {
	width: 960px;
	margin: 22px auto;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#site-footer .footeText a {
	color: #fff;
	border-bottom: 2px solid #34495e;
}
#site-footer .widget { margin-bottom: 30px }
#site-footer {
	position: relative;
	overflow: hidden;
	clear: both;
	width: 100%;
	background: #f5f5f5;
	line-height: 22px;
	z-index: 1;
}
.footer-widgets {
	overflow: hidden;
	padding: 58px 0 25px;
}
#site-footer .widget h3 { border-bottom: 4px solid rgba(52, 73, 94, 0.2) }
.f-widget {
	float: left;
	position: relative;
}
.widgets-num-3 .f-widget {
	width: 31.624%;
	max-width: 370px;
	margin-right: 2.56%;
}
.widgets-num-4 .f-widget { 
	width: 23.077%;
	max-width: 270px;
	margin-right: 2.56%; 
}
.widgets-num-4 .f-widget:last-child, .widgets-num-3 .f-widget:last-child { margin-right: 0 }
.copyrights {
	float: left;
	width: 100%;
	clear: both;
	padding-bottom: 30px;
	padding-top: 30px;
	background: #fff;
	font-size: 14px;
	border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.copyrights a {
	font-weight: bold;
	color: #34495e;
}
.copyrights a:hover { color: #ff5722 }
#copyright-note {
	width: 100%;
	margin: 0 auto;
	clear: both;
	max-width: 100%;
	text-align: center;
}
#copyright-note > span { float: left; line-height: 40px; }
.postsby { margin-bottom: 25px }
/*-[ Back To Top ]---------------------------*/
.to-top {
	float: right;
	position: relative;
}
#site-footer .to-left { float: left }
.toplink {
	width: 40px;
	height: 40px;
	right: 20px;
	line-height: 40px;
	bottom: 30px;
	z-index: 25;
	margin-left: 22px;
	color: #fff!important;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	transition: all 0.25s linear;
	-webkit-backface-visibility: hidden;
}
.toplink:hover { background: #ff5722 }
/*-[ Related Posts ]---------------------------*/
.related-posts {
	margin-bottom: 30px;
	clear: both;
	float: left;
	width: 100%;
}
.related-posts .latestPost {
	width: 49.375%;
	max-width: 395px;
	margin-right: 1.25%;
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
}
.ss-full-width .related-posts .latestPost {
	max-width: 100%;
	margin-bottom: 14px;
}
.related-posts .latestPost .featured-thumbnail:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.8) 100%); 
	left: 0;
	top: 0;
}
.related-posts .latestPost .featured-thumbnail { border-bottom: none }
.ss-full-width .related-posts .latestPost .featured-thumbnail { width: 100% }
.related-posts .latestPost.small-post { margin-right: 0 }
.related-posts .last {
	margin-right: 0;
	padding-bottom: 0;
}
.related-posts .latestPost .title {
	margin-bottom: 13px;
	line-height: 30px;
}
.related-posts .latestPost .title a {
	font-size: 30px;
	color: #fff;
}
.related-posts .latestPost.small-post .title { line-height: 22px }
.related-posts .latestPost.small-post .title a { font-size: 20px }
.related-posts .latestPost header { 
	margin-bottom: 0;
	position: absolute;
	bottom: 25px;
	left: 20px;
	width: auto;
	padding-right: 20px;
	z-index: 1;
}
/*-[ Post Tags ]---------------------------------*/
.tags {
	float: left;
	width: 100%;
	margin-bottom: 45px;
}
.tagtext { margin-right: 10px }
.tags a { 
	padding: 0 10px;
	line-height: 40px;
	background: #ff5722;
	color: #fff!important;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px; 
	text-transform: capitalize;
}
/*-[ Author Box ]--------------------------------*/
.postauthor {
	float: left;
	width: 100%;
	clear: both;
	min-height: 180px;
	margin-bottom: 50px;
}
.postauthor h5 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 26px;
}
.postauthor .author-description { overflow: hidden }
.postauthor img {
	float: left;
	margin: 0px 30px 0 0;
	border-radius: 50%;
}
.postauthor-top {
	padding-top: 5px;
	padding-bottom: 8px;
	margin-bottom: 15px;
}
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0 }
.author-social {
	margin-top: 25px;
	float: left;
	width: 100%;
}
.author-social a {
	height: 40px;
	width: 37px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-left: 4px solid #ff5722;
	line-height: 42px;
	color: #34495e;
	float: left;
	display: block;
	margin-right: 10px;
	position: relative;
}
.author-social a.facebook { border-left: 4px solid #5d82d1 }
.author-social a.twitter { border-left: 4px solid #40bff5 }
.author-social a.google-plus { border-left: 4px solid #eb5e4c }
.author-social a.pinterest { border-left: 4px solid #cb2027 }
.author-social a.stumble { border-left: 4px solid #eb5e4c }
.author-social a.linkedin { border-left: 4px solid #007bb5 }
.author-social a:after, .author-social a:before {
	position: absolute;
	content: '';
	width: 4px;
	height: 1px;
	left: -4px;
}
.author-social a.facebook:before, .author-social a.facebook:after { background: #5d82d1 }
.author-social a.twitter:after, .author-social a.twitter:before { background: #40bff5 }
.author-social a.google-plus:after, .author-social a.google-plus:before { background: #eb5e4c }
.author-social a.pinterest:after, .author-social a.pinterest:before { background: #cb2027 }
.author-social a.stumble:after, .author-social a.stumble:before { background: #eb5e4c }
.author-social a.linkedin:after, .author-social a.linkedin:before { background: #007bb5 }
.author-social a:after { top: -1px }
.author-social a:before { bottom: -1px }
.author-social a:last-child { margin-right: 0 }
.postauthor h4, .related-posts h4, #comments > h4, #commentsAdd h4 {
	font-size: 20px;
	padding-bottom: 14px;
	margin-bottom: 30px;
	border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}
#comments > h4 { margin-bottom: 25px }
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
	padding: 8px 14px;
	margin-bottom: 9px;
	float: left;
	margin-right: 7px;
	background: #ff5722;
	color: #fff!important;
	line-height: 24px;
	font-size: 16px!important;
	position: relative;
}
/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
	float: left;
	width: 100%;
	margin: 0;
	list-style: none;
	max-width: 100%;
}
.ad-125 li {
	float: left;
	border: none;
	list-style: none!important;
	padding: 0!important;
	background: none;
	margin-bottom: 15px;
	margin-left: 0;
	max-width: 48%;
}
.ad-125 li:nth-child(2n+2) { float: right!important }
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 0 }
/*-[ Calender Widget ]-------------------------*/
#wp-calendar {margin-bottom: 0;border: 1px solid rgba(52, 73, 94, 0.2);}
#wp-calendar td {
	text-align: center;
	padding: 7px 0;
	border-top: 1px solid rgba(52, 73, 94, 0.2);
	border-right: 1px solid rgba(52, 73, 94, 0.2);
}
#wp-calendar caption {
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
}
#wp-calendar #prev {
	text-align: left;
	padding-left: 12px;
}
#wp-calendar #next {
	text-align: right;
	padding-right: 12px;
}
#wp-calendar thead th {
	padding: 10px 0;
	text-align: center;
}
/*-[Comments]--------------*/
.nocomments {
	margin-top: 20px;
	clear: both;
	float: left;
	width: 100%;
}
.total-comments {
	font-size: 19px;
	color: #34495e;
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 9px;
}
.cnumber { color: #2DB2EB }
#comments {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}
.comment-likes-dislikes { float: left; margin-right: 12px }
.comment .likeus, .comment .dislikeus, .comment .like-count.dislike-count {
	float: left;
	margin-right: 8px;
	color: #a1a1a1;
}
.comment .likeus, .comment .dislikeus { cursor: pointer }
.post-like.active, .post-dislike.active, .post-like.inactive, .post-dislike.inactive { cursor: default }
.comment .like-count.dislike-count { font-size: 14px; font-weight: bold; }
.reply { float: left }
.reply a {
	color: #a1a1a1;
	font-size: 16px;
}
#commentsAdd {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 45px;
}
#comments .avatar {
	float: left;
	margin-right: 20px;
	margin-top: 0px;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.15);
	z-index: 10;
	position: relative;
}
#comments .avatar.loading {  }
.comment time { padding-left: 10px }
ul.children .commentImageLeft {
	width: 60px;
	height: 90px;
	border-left: 1px solid #c1bbb6;
	border-bottom: 1px solid #c1bbb6;
	position: absolute;
	top: -50px;
	left: -70px;
}
input.text-input, #commentform input { padding: 11px }
input#author, input#email, input#url, .contact-form input, .contact-form textarea {
	width: 100%;
	height: 40px;
	color: inherit;
	font-weight: normal;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
input#author, input#email, input#url, #comment, .contact-form input, .contact-form textarea { transition: all 0.25s ease-in-out }
#cancel-comment-reply-link {
	float: right;
	line-height: 24px;
	margin-top: 0;
}
#cancel-comment-reply-link {
	font-weight: bold;
	cursor: pointer;
	z-index: 100;
	position: absolute;
	right: 5%;
	top: 28px;
}
#commentform input#submit, .contact-form input[type="submit"] {
	width: 100%;
	padding: 0 20px;
	line-height: 40px;
	color: #fff;
	box-sizing: border-box;
	transition: all 0.2s linear;
}

#respond #respond #commentform input#submit {
    width: auto;
}
.error { color: red }
.thanks p { color: green }
ol.commentlist { margin: 0 }
ol.commentlist .navigation {
	float: left;
	width: 100%;
}
ol.commentlist > div.navigation:nth-of-type(1) div a { 
	float: left; 
	margin-bottom: 25px; 
}
ol.commentlist > div.navigation:nth-last-of-type(1) div a { 
	float: left; 
	margin-bottom: 12px; 
}
.comment {
	list-style: none;
	margin: 0;
	float: left;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.children .comment {
    overflow: visible;
}
.children .comment:last-of-type {
    position: relative;
    z-index: 10;
    background: #fff;
}
.comment-list { 
	position: relative;
	padding-bottom: 30px; 
}
.comment-list:before {
	position: absolute;
	content: '';
	width: 2px;
	height: 2000%;
	padding-bottom: 37px;
	background: rgba(0, 0, 0, 0.15);
	top: 0;
	left: 30px;
	z-index: 10;
}
.children .comment-list:last-child:before { display: none; }
.children .comment-list:after {
	position: absolute;
	content: '';
	width: 50px;
	height: 2px;
	background: rgba(0, 0, 0, 0.15);
	top: 30px;
	left: -50px;
}
.commentlist > li.comment:nth-last-of-type(1) .comment-list:before, .commentlist > li.comment:nth-last-of-type(1) .comment-list:after {
	display: none }
.commentlist .children .children li.comment:nth-last-of-type(1) > .comment-list:before, .commentlist .children .children li.comment:nth-last-of-type(1) > .comment-list:after { display: none }
.commentlist .navigation a { 
	padding: 0;
	font-size: 14px;
	font-weight: bold; 
}
.commentlist p { margin-bottom: 5px }
.ago { font-size: 18px; margin-left: 10px; color: #a1a1a1; }
html .fn {
	color: #34495e;
	font-size: 18px;
}
html .fn a {
	color: #34495e;
	font-size: 18px;
}
.comment-meta { font-size: 14px }
.comment-meta a { color: #34495e }
.commentmetadata {
	overflow: hidden;
	padding-top: 18px;
}
.commenttext { margin-bottom: 20px }
.commentmetadata li {
	border: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5px;
	list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.comment #respond #respond { 
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	z-index: 15;
	margin-bottom: 20px; 
	padding: 20px 5%;
	background: #f5f5f5;
	border: 1px solid rgba( 0, 0, 0, 0.15 );
	box-sizing: border-box;
}
.commentlist .children {
	width: 100%;
	padding: 7px 0 0 80px;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
}
.avatar { float: left }
#respond h3 {
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.comment-awaiting-moderation {
	font-style: italic;
	font-weight: bold;
}
.commentmetadata ul, .commentmetadata ol { margin-top: 5px }
.comment-text-inner > ol,.comment-text-inner > ul {
    margin-bottom: 20px;
}
.commentlist > li.comment:nth-last-of-type(1):before {  }

/*-[ Comment Form ]----------------------------*/
#commentform textarea, .contact-form textarea {
	width: 100%;
	padding: 5px 10px;
	line-height: 20px;
	height: 60px;
	font-size: inherit;
	color: inherit;
	font-weight: normal;
	background: #fff;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.contact-form textarea { min-height: 150px; }
#commentsAdd form { padding-left: 90px }
#commentform p {
	margin-bottom: 5px;
	float: left;
	width: 100%;
	clear: both;
	position: relative;
}
#commentform p.comment-form-author, #commentform p.comment-form-url, #commentform p.comment-form-email, #commentform p.form-submit {
	width: 23.944%;
	max-width: 170px;
	margin-right: 1.41%;
	float: left;
	clear: none;
}
#commentform p.form-submit { margin-right: 0 }
#commentform p.logged-in-as { margin-bottom: 15px }
#commentform p.comment-form-comment:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-top: 2px solid rgba(0, 0, 0, 0);
	border-bottom: 8px solid rgba(0, 0, 0, 0);
	border-right: 26px solid rgba(0, 0, 0, 0.15);
	left: -25px;
	top: 10px;
	z-index: 11;
}
#commentform p.comment-form-comment:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0px;
	border-top: 0px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 23px solid #fff;
	left: -22px;
	top: 12px;
	z-index: 12;
}
#commentform p img {
	position: absolute;
	left: -90px;
	top: 0;
	border-radius: 50%;
	border: 3px solid #d6dbdf;
	box-sizing: border-box;
}
.comment #respond #respond #commentform { padding-left: 80px }
.comment #respond #respond #commentform p img { position: absolute }
#commentform p label {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}
.cancel-comment-reply a {
	float: right;
	margin-top: -8px;
}
.required {
	color: red;
	padding: 0;
	line-height: 1;
}
.comment-notes .required {
	padding-left: 0;
	padding-top: 3px;
}
.comment-notes { font-style: italic }
/*-[ pagination ]------------------*/
.pagination {
	float: left;
	width: 100%;
	clear: both;
	margin-top: 30px;
	margin-bottom: 55px;
	text-align: center;
	overflow: hidden;
	display: block!important
}
.pagination ul {
	list-style: none;
	margin: 0;
}
.pagination ul li {
	float: none;
	margin-bottom: 5px;
	display: inline-block;
}
.pagination .page-numbers.current, .single .pagination > .current {
	float: none;
	color: #fff;
	display: inline-block;
	background: #ff5722;
	font-weight: bold;
	width: 40px;
	line-height: 40px;
	margin-left: -4px;
}
.page-numbers.dots {
	min-width: 40px;
	float: none;
	display: inline-block;
	line-height: 40px;
	margin-left: -4px;
}
.pagination a {
	float: none;
	color: #34495e;
	padding: 0;
	font-weight: bold;
	min-width: 40px;
	line-height: 40px;
	display: inline-block;
	margin-left: -4px;
}
.single .pagination a { min-width: 20px; padding: 0 10px; }
.pagination .nav-previous, .pagination .prev.page-numbers { float: left }
.pagination .nav-next, .pagination .next.page-numbers { float: right }
.pagination .nav-previous a, .pagination .nav-next a { 
	color: #fff; 
	background: #34495e; 
	padding: 0 15px;
	width: auto;
}
.pagination a:hover { color: #fff }
.pagination .prev.page-numbers, .pagination .next.page-numbers { 
	padding: 0 15px; 
	margin: 0;
	background: #34495e; 
	color: #fff;
}
.pagination .page-numbers.prev i { margin-right: 6px }
.pagination .page-numbers.next i { margin-left: 6px; margin-right: 0 }
.single .pagination a:hover .currenttext { color: #fff }
/*-[ Contact Form ]------------------*/
.contact-form { position: relative }
.contact-form.loading:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.8);
}
.contact-form label {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.contact-form label { margin-top: 12px }
.contact-form input[type="submit"] {margin-top: 12px;width: auto;box-shadow: none;border: 0;}
.mtscontact_error { color: #B90101 }
/*-[ AJAX search results ]------------------*/
.widget_search { overflow: visible }
.ajax-search-results-container {
	position: absolute;
	top: 80px;
	left: -1px;
	width: 100%;
	z-index: 9;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
}
.article .ajax-search-results-container, .widget .ajax-search-results-container {
	top: 39px;
	border-top: none;
}
.ajax-search-results-container.loading:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,0.8);
}
ul.ajax-search-results {margin: 0;overflow: hidden;}
.ajax-search-results li {
	float: left;
	width: 100%;
	clear: both;
	display: block;
	list-style: none;
	min-height: 50px;
	padding: 10px 8px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}
.ajax-search-results li a {
	display: block;
	line-height: 21px;
}
.widget .ajax-search-results li {padding-top: 10px;}
ul.ajax-search-results a:focus { text-decoration: underline } /*up/down keys navigation*/
.ajax-search-results .wp-post-image {
	margin-bottom: 0;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 0;
}
.ajax-search-meta {
	float: left;
	width: 100%;
	padding: 6px 8px;
	font-size: 14px;
	box-sizing: border-box;
}
.ajax-search-meta .results-count {
	float: left;
	color: #aaa;
}
.ajax-search-meta .results-link { float: right }
.ajax-search-results-container .no-results {
	padding: 8px;
	font-style: italic;
}
/*-[ Load More ]-------------------*/
.pace .pace-progress {
	background: #29d;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	height: 3px;
	transition: width 0.8s;
	-webkit-backface-visibility: hidden;
}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
#load-posts {
	float: left;
	text-align: center;
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 30px;
}
#load-posts a {
	float: none;
	line-height: 40px;
	display: inline-block;
	padding: 0px 20px;
	color: #fff;
	background-color: #34495e;
	box-sizing: border-box;
}
#load-posts a.inactive { cursor: default }
#load-posts .fa { margin-right: 8px }
/*-[ Misc ]---------------------------*/
pre {
	overflow: auto;
	padding: 25px 15px 15px;
	margin: 15px 0;
	position: relative;
	background: #34495e;
	font-family: monospace;
	color: #fff;
	box-sizing: border-box;
}
pre:before {
	content: "\f121";
	color: #FFF;
	position: absolute;
	font-size: 18px;
	right: 14px;
	top: 6px;
	font-family: fontawesome;
}
.flex-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	clear: both;
}
.flex-video iframe, .flex-video object, .flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*-[ Parallax & Zoom Out ]--------------------------------*/
#parallax {
	position: relative;
	height: 0;
	overflow: hidden;
	background-size: cover;
	min-height: 550px;
	width: 100%;
}
#zoom-out-effect, #zoom-out-bg {
	position: relative;
	height: 0;
	min-height: 550px;
	width: 100%;
}
#zoom-out-effect {
	overflow: hidden;
}
#zoom-out-bg {
	background-size: cover;
	width: 100%;
}
/*-[ WP Review ]--------------------------------*/
.latestPost-review-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	color: #FFF;
	padding: 2px 8px;
}
.latestPost-review-wrapper .review-total-star { margin: 4px 0 }
.latestPost-review-wrapper .percentage-icon {
	top: 0;
	font-size: inherit;
	font-style: normal;
}
.latestPost .review-type-circle.latestPost-review-wrapper { height: 37px; }
/*-[ Dots Loader ]--------------------------------*/
@keyframes scale { 
	0% {
		transform: scale(1);
		opacity: 1;
	}
	45% {
		transform: scale(0.1);
		opacity: 0.7;
	}
	80% {
		transform: scale(1);
		opacity: 1;
	}
}
.ball-pulse {
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.ball-pulse > div:nth-child() { animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08) }
.ball-pulse > div:nth-child(1) { animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08) }
.ball-pulse > div:nth-child(2) { animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08) }
.ball-pulse > div:nth-child(3) { animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08) }
.ball-pulse > div {
	background-color: #3d8fe8;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin: 1px;
	animation-fill-mode: both;
	display: inline-block;
}
.gallery-icon { width: 100% }
.gallery-icon img {
	display: block;
	margin: 0 auto;
	float: none;
}
.gallery-caption { clear: both }
.wp-video, .wp-audio-shortcode { margin: 10px auto }
