.azulclaro {
  color:#b81e6c;
}
.azulescuro {
  color:#ad098f
}

.rosabold {
  color:#ad098f;
  font-weight: 500
}
@media only screen and (max-width: 1600px) {
    .page-header {
        min-height: 130vh;
        max-height: 999px;
        padding: 0;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
    }
    .page-header .content-center {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFFFFF;
        padding: 0 15px;
        width: 100%;
        max-width: 1200px;
    }
  }
@media only screen and (max-width: 600px) {
    .page-header {
        min-height: 270vh;
        max-height: 999px;
        padding: 0;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
    }
    .page-header .content-center {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFFFFF;
        padding: 0 15px;
        width: 100%;
        max-width: 1200px;
    }
    h1, .h1 {
        font-size: 3em;
        line-height: 1.15;
        margin-bottom: 30px;
    }
}
.text-danger {
  font-size: 11px;
right: 7px;
bottom: 42px;
}
.form-control+.form-control-feedback {
  border-radius: 0.25rem;
  font-size: 11px;
  margin-top: 60px;
  position: absolute;
  left: 0px;
  top: 9px;
  vertical-align: middle;
  font-weight: 500;

}
.has-danger:after {
    content: "\ea53";
    color: #FF3636;
    position: absolute;
    top: 38px;
    right: 15px;
    font-weight: 500;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 11px;
}
.col-form-label {
    padding-top: calc(0.1rem);
    padding-bottom: calc(.1rem);
    margin-bottom: 0;
    font-size: 11px;
    line-height: 1.5;
}

.btn.btn-simple, .navbar .navbar-nav>a.btn.btn-simple {
    color: #E6E6E6;
    border-color: #E6E6E6;
}
.navbar .navbar-nav .nav-item.active .nav-link:not(.btn), .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus, .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover, .navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
    background-color: rgba(139, 14, 86, 0.3);
    border-radius: 0.1875rem;
}
[class*="features-"], [class*="team-"], [class*="projects-"], [class*="pricing-"], [class*="testimonials-"], [class*="contactus-"] {
    padding-bottom: 40px;
    padding-top: 10px;
}
.navbar a:not(.btn):not(.dropdown-item) {
    color: #fff;
}

.efeitoBgTim {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#014590+43,1f72a5+100 */
background: #014590; /* Old browsers */
background: -moz-linear-gradient(-45deg, #014590 43%, #1f72a5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #014590 43%,#1f72a5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #014590 43%,#1f72a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014590', endColorstr='#1f72a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.efeitoBgVivo {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eb3c7d+43,f4739e+100 */
background: #eb3c7d; /* Old browsers */
background: -moz-linear-gradient(-45deg, #eb3c7d 43%, #f4739e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #eb3c7d 43%,#f4739e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #eb3c7d 43%,#f4739e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb3c7d', endColorstr='#f4739e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.efeitoBgVivo2 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#be2886+43,bc5e98+100 */
background: #be2886; /* Old browsers */
background: -moz-linear-gradient(-45deg, #be2886 43%, #bc5e98 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #be2886 43%,#bc5e98 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #be2886 43%,#bc5e98 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2886', endColorstr='#bc5e98',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.efeitoBgVivo3 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa1f8b+43,bc42a6+100 */
  background: #aa1f8b; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #aa1f8b 43%, #bc42a6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #aa1f8b 43%,#bc42a6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #aa1f8b 43%,#bc42a6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa1f8b', endColorstr='#bc42a6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.efeitoBgVivo4 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#660099+43,883aaf+100 */
  background: #660099; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #660099 43%, #883aaf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #660099 43%,#883aaf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #660099 43%,#883aaf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660099', endColorstr='#883aaf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.efeitoBgOi {
  background: #05d24b; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #05d24b 0%, #4096ee 100%, #02cec9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #05d24b 0%,#4096ee 100%,#02cec9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #05d24b 0%,#4096ee 100%,#02cec9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05d24b', endColorstr='#02cec9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.js div#preloader { position: fixed; left: 0; top: 0; z-index: 9999; width: 100%; height: 100%; overflow: visible; background: 	#39B49A url('https://cdn.dribbble.com/users/668360/screenshots/3425402/03_heartbeat-loader-animation-800x600.gif') no-repeat center center; }
