html { overflow-x: hidden; }
.main-container { max-width: 100%; }
/*-----------------------------------------------
/* @media queries
/*---------------------------------------------*/
@media screen and (max-width:1360px) { 
	.shareit {
		position: relative!important;
		width: 100%!important;
		top: 0!important;
		right: auto!important;
		padding-left: 0!important;
		padding-right: 0!important;
		margin: 0!important;
		padding-top: 10px!important;
		border: none !important;
	}
	.share-item { width: 100px; margin: 0 }
	.share-item.facebookbtn, .share-item.facebooksharebtn { margin-top: -5px }
	#thumb1 .owl-prev {
		left: 0;
		top: -60px;
	}
	#thumb1 .owl-next {
		top: -60px;
		right: 8px;
	}
}
@media screen and (max-width:1230px) { 
	#page, .container { max-width: 96% }
	.search-row { padding: 0 2%; box-sizing: border-box; }
	#move-to-top {
		width: 35px;
		height: 35px;
		bottom: 80px;
		right: 4px;
	}
	#move-to-top i { line-height: 35px }
	.big-image-container .owl-controls .owl-next { right: 50px }
	.big-image-container .owl-controls .owl-prev { right: 120px }
	.owl-item .title { max-width: 70% }
	#commentform p.comment-form-author, #commentform p.comment-form-url { width: 49%; max-width: 100%; margin-right: 2%; margin-bottom: 10px; }
	#commentform p.comment-form-email, #commentform p.form-submit { width: 49%; max-width: 100%; margin-right: 0; margin-bottom: 10px; }
}
@media screen and (max-width:1130px) { 
	#move-to-top {
		margin-right: 0;
		right: 5px;
	}
	.big-image-container .owl-item .title {
		font-size: 50px;
		width: 100%;
		max-width: 100%;
	}
	.grid-4 .latestPost header { margin-top: 5px }
	.single-title {
		font-size: 35px!important;
		margin-top: 22px;
		margin-bottom: 20px;
	}
	.grid-1 .latestPost .title { line-height: 30px }
	.grid-1 .latestPost .title a { font-size: 30px } 
	.featured-category-title { font-size: 30px; margin-bottom: 30px; }
	#page.single { padding-top: 20px }
	#zoom-out-effect, #parallax { margin-bottom: 20px }
	.breadcrumb, .single_post, .related-posts, .postauthor, #comments { margin-bottom: 20px }
	.copyrights { 
		padding-bottom: 15px;
		padding-top: 15px; 
	}
}
@media screen and (max-width:1024px) {
	img{
		max-width: 100%;
		height: auto!important;
	}
	.ad-300 img { max-width: 100% }
	.ad-125 li { max-width: 40% }
	.ad-125 img {
		padding: 0;
		background: #FAFAFA;
		border: 0;
	}
	.popular-posts li .post-title a {
		font-size: 16px!important;
		line-height: 1;
	}
	.popular-posts li .post-data { bottom: 10px }
	.popular-posts .post-info {  margin-top: 7px }
	#secondary-navigation .menu a {
		padding-left: 16px;
		padding-right: 16px;
		font-size: 16px;
	}
	#secondary-navigation .navigation .menu-item-has-children > a { padding-right: 30px; }
	#secondary-navigation .menu-item-has-children > a:after { right: 15px; }
	.logo-wrap { width: 20%; }
	.related-posts .latestPost header { bottom: 20px }
	.slider-1 .big-image-container .slide-caption { top: 160px; }
	.slider-1 .big-image-container .owl-item .title {
		font-size: 30px!important;
		max-height: 56px;
	}
	.slide-caption-inner { margin-top: 20px; }
	.advanced-recent-posts li .post-data { bottom: 6px; }
	.searchbox, .searchbox-input { max-width: 250px; }
	.big-image-container .owl-item .title { font-size: 30px }
	#thumb1 { bottom: 40px }
	.big-image-container .slide-caption { top: 150px }
	.grid-1 .latestPost .title { line-height: 25px }
	.grid-1 .latestPost .title a { font-size: 25px }
	.grid-4 .latestPost .title { line-height: 18px }
	.grid-4 .latestPost .title a { font-size: 18px }
	.related-posts .latestPost .title { line-height: 20px }
	.related-posts .latestPost .title a { font-size: 20px }
	.related-posts .latestPost.small-post .title { 
		padding-bottom: 4px;
		margin-bottom: 5px;
		line-height: 18px; 
		max-height: 48px;
		overflow: hidden;
	}
	.related-posts .latestPost.small-post .title a { font-size: 18px }
	.related-posts .latestPost { margin-bottom: 6px }
	body { font-size: 14px } 
	.advanced-recent-posts li.vertical-small .post-title a, .popular-posts li.vertical-small .post-title a, .category-posts li.vertical-small .post-title a, .related-posts-widget li.vertical-small .post-title a, .author-posts-widget li.vertical-small .post-title a {
		font-size: 16px!important;
		line-height: 16px;
		max-height: 32px;
	}
	.widget .post-info { margin-top: 5px }
	.widget .post-excerpt { margin-top: 5px; }
	.advanced-recent-posts li.vertical-small .post-data, .popular-posts li.vertical-small .post-data, .category-posts li.vertical-small .post-data, .related-posts-widget li.vertical-small .post-data, .author-posts-widget li.vertical-small .post-data { bottom: 10px }
	.commentlist .children .children { padding-left: 0 }
	.pagination { margin-top: 10px; margin-bottom: 30px; }
}
 @media screen and (min-width:865px) { 
	.navigation.mobile-only { display: none }
}	
@media screen and (max-width:865px) { 
	.mts-cart span a { padding-bottom: 0; }
	.mts-cart { float: none; text-align: center!important; }
	.header-layout-2 #header h1, .header-layout-2  #header h2, .header-layout-2  .site-description {
		float: none;
		text-align: center;
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	.header-layout-2 #logo a, .header-layout-2 #logo img { float: none; letter-spacing: 0;}
	.header-layout-2 .logo-wrap {
		margin-bottom: 10px;
		margin-top: 0;
		width: 100%;
	}
	.navigation {
		width: 100%;
		border: none;
		display: none;
	}
	#secondary-navigation {
		position: relative!important;
		float: right;
	}
	.navigation .menu { display: block!important }
	.navigation ul ul { 
		visibility: visible!important; 
		opacity: 1!important; 
		position: relative; 
		left: 0!important; 
		border: 0; 
		width: 100%; 
	}
	.navigation ul li li { 
		background: transparent; 
		border: 0;
	}
	.navigation { height: auto }
	.navigation li, .navigation ul li li {
		width: 100%!important;
		float: left;
		position: relative;
	}
	.navigation ul li:after { display: none; }
	.navigation ul li:before { display: none; }
	.navigation li a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		width: 100%!important;
		box-sizing: border-box;
	}
	.navigation a {
		text-align: left;
		width: 100%;
		text-indent: 20px;
	}
	.navigation ul ul ul { border-left: none }
	a#pull {
		position: relative;
		display: block;
		width: 100%;
		padding-top: 29px;
		padding-bottom: 26px;
		margin-right: 28px;
		font-size: 16px;
		text-transform: uppercase;
	}
	a#pull:after {
		content: "\f0c9";
		display: inline-block;
		position: absolute;
		right: 10px;
		top: 29px;
		font-family: FontAwesome;
	}
	.navigation ul .sfHover a, .navigation ul li:hover, .navigation ul .sfHover ul li { background: transparent; }
	/*disable flayout*/
	#catcher { height: 0 !important }
	.sticky-navigation-active {
		position: relative !important;
		top: 0 !important;
	}
	/*-[ Responsive Navigation ]--------------------------------*/
	.main-container {
		position: relative;
		left: 0;
		transition: left 500ms ease;
	}
	.mobile-menu-active .main-container {
		left: 300px;
		transition: left 500ms ease;
	}
	.navigation.mobile-menu-wrapper {
		display: block;
		position: fixed;
		top: 0;
		left: -300px;
		width: 300px;
		height: 100%;
		border-right: 1px solid rgba(0, 0, 0, 0.2);
		overflow: auto;
		transition: left 500ms ease;
		-webkit-backface-visibility: hidden;
		box-sizing: border-box;
	}
	.mobile-menu-active .navigation.mobile-menu-wrapper { 
		left: 0; 
		z-index: 1111; 
	}
	.navigation ul li {
		width: 100%;
		display: block;
	}
	.navigation ul li:hover { background: none }
	.navigation ul li a, .navigation ul ul a {
		padding: 9px 0!important;
		width: 100%;
		border-right: none!important;
		background: transparent!important;
	}
	.navigation ul ul {
		position: static;
		width: 100%;
		border: none;
	}
	.navigation ul ul li {
		background: none;
		width: 100%;
	}
	.navigation i { display: inline; margin-right: 0; }
	.navigation ul ul a { padding: 9px 18px !important }
	.navigation ul ul ul a { padding: 9px 27px !important }
	.navigation ul ul ul ul a { padding: 9px 36px !important }
	.navigation .toggle-caret {
		display: block;
		width: 41px;
		height: 42px;
		line-height: 42px;
		color: #34495e;
		border-left: 1px solid rgba(0, 0, 0, 0.2);
		top: 0px;
		right: 0px;
	}	
	.navigation .menu-item-has-children > a:after { content: '' }
	#secondary-navigation .sub-menu a { border-bottom: 1px solid rgba(0, 0, 0, 0.2) }
	#mobile-menu-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 999;
		cursor: pointer;
		display: none;
		backface-visibility: hidden;
		background: rgba(0,0,0,.5);
	}
	html.noscroll {
		position: fixed;
		overflow-y: scroll;
		width: 100%;
	}
	/*-[ Mega Menu ]--------------------------------*/
	#wpmm-megamenu .wpmm-subcategories {
		width: 100%;
		text-indent: 0;
	}
	#wpmm-megamenu .wpmm-posts { width: 100% }
	#wpmm-megamenu .wpmm-post {
		width: 100%!important;
		padding: 0 10px!important;
		text-align: center!important;
	}
	#wpmm-megamenu .wpmm-thumbnail img { float: left }
	.navigation li.menu-item-has-children:hover > a:after { content: '' }
	.primary-slider .owl-item .title {
		font-size: 22px!important;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#header #searchform { position: relative; }
	#secondary-navigation .menu a:before { display: none }
	html #wpadminbar { position: fixed }
	.owl-item .thecategory { line-height: 30px }
	#secondary-navigation .navigation ul li:hover > a, #secondary-navigation .sub-menu a { color: #34495e!important }
	.pagination a { 
	   text-align: center;
	   width: auto;
	   text-indent: 0; 
	}
	.big-image-container .owl-controls .owl-next { right: 35px }
	.big-image-container .owl-controls .owl-prev { right: 90px }
}

@media screen and (max-width:800px) {
	.article { width: 100% }
	.sidebar.c-4-12 {
		float: none!important;
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
	}
	.widgets-num-4 .f-widget, .widgets-num-3 .f-widget {
		width: 48%;
		margin-right: 4%;
		max-width: 100%;
	}
	.widgets-num-4 .f-widget:nth-child(even), .widgets-num-3 .f-widget:nth-child(even) { margin-right: 0% }
	.widgets-num-4 .f-widget:nth-child(3), .widgets-num-3 .f-widget:nth-child(3) { clear: left }
	.advanced-recent-posts li.vertical-small .post-data, .popular-posts li.vertical-small .post-data, .category-posts li.vertical-small .post-data, .related-posts-widget li.vertical-small .post-data, .author-posts-widget li.vertical-small .post-data { bottom: 25px }
	.advanced-recent-posts li.vertical-small .post-title a, .popular-posts li.vertical-small .post-title a, .category-posts li.vertical-small .post-title a, .related-posts-widget li.vertical-small .post-title a, .author-posts-widget li.vertical-small .post-title a {
		font-size: 20px!important;
		line-height: 20px;
		max-height: 40px;
	}
	.widget .post-info { margin-top: 10px }
	.widget .post-excerpt { margin-top: 10px; }
}

@media screen and (max-width:720px) { 
	#content_box {
		padding-right: 0px;
		padding-left: 0px!important;
	}
	.ad-125 li { max-width: 45% }
	#comments { margin-right: 0 }
	.widget-header .textwidget {
		margin-top: 0;
		padding-left: 0;
		border-left: none;
	}
}

@media screen and (max-width:640px) { 
	.featured-thumbnail img { width: 100% }
	.admin-bar .pace .pace-progress { top: 0px }
	.single-title { font-size: 30px!important }
	.grid-4 { margin-bottom: 0 }
	.grid-1 { margin-top: 20px }
	.featured-category-title { font-size: 30px }
	#thumb.owl-carousel .owl-item { max-width: 40px }
	.searchbox, .searchbox-input { max-width: 180px; }
	#header #s { padding-right: 45px; }
	.searchbox-icon, .searchbox-submit { width: 40px; }
	.primary-slider .owl-item .title {font-size: 30px;}
	.primary-slider-container .owl-prev { bottom: 2px; right: 40px; }
	.primary-slider-container .owl-next { bottom: 2px; right: 0 }
}

@media screen and (max-width:550px) { 
	.sbutton { float: right }
	.grid-1 .latestPost .title a { font-size: 20px }
	.grid-1 .latestPost .title { line-height: 20px }
	.grid-4 .latestPost { width: 31%; margin-bottom: 20px; }
	.grid-4 .latestPost:nth-child(3n) { margin-right: 0 }
	 .grid-4 .latestPost:nth-child(4n) { clear: left; margin-bottom: 5px; }
	.primary-slider .owl-item .title { 
		font-size: 20px;
		margin-top: 10px;
	}
	.related-posts .latestPost {
		width: 100%;
		max-width: 300px;
		float: none;
		margin: 0 auto!important;
		overflow: hidden;
		margin-bottom: 10px!important;
	}
	.share-item { margin-bottom: 8px }
}

@media screen and (max-width:480px) { 
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		width: 100%;
		margin-right: 0;
	}
	.top { width: 100% }
	#commentform p.comment-form-author, #commentform p.comment-form-url, #commentform p.comment-form-email, #commentform p.form-submit {
		width: 100%;
		margin-right: 0;
	}
	.f-widget, .widgets-num-4 .f-widget, .widgets-num-3 .f-widget { width: 100%; margin-right: 0;}
	.grid-1 .latestPost header { 
		float: left; 
		width: 100%; 
		margin-top: 15px; 
	}
	.grid-1 .featured-thumbnail img, .grid-4 .featured-thumbnail img { max-width: 100% }
	.latestPost .post-image { float: none; width: 100%; }
	.featured-thumbnail { width: 100% }
	.header-wrap { clear: both; }
	.bypostauthor:after { display: none }
	#commentform p img { display: none }
	#commentsAdd form, .comment #respond #respond #commentform { padding-left: 0 }
	#commentform p.comment-form-comment:before, #commentform p.comment-form-comment:after { display: none }
	.postauthor .author-description { overflow: visible; }
}
@media screen and (max-width:430px) { 
	article header { overflow: hidden }
	.slidertext { display: none }
	#site-footer .to-left { float: none }
	#site-footer .to-top {
		float: none;
		clear: both;
	}
	#thumb.owl-carousel .owl-item { max-width: 30px }
	#copyright-note > span { float: none }
	.grid-4 .latestPost { 
		width: 48%; 
		margin-right: 4%; 
		max-width: 100%; 
	}
	.grid-4 .latestPost:nth-child(3n) { margin-right: 4%; margin-bottom: 0; clear: left; }
	.grid-4 .latestPost:nth-child(4n) { clear: none }
	.grid-4 .latestPost:nth-child(even) { margin-right: 0 }
	.toplink { float: right; margin-left: 0 } 
	.primary-slider .owl-item .thecategory, .primary-slider .owl-item .post-info { display: none }
	.comment #respond #respond { padding: 20px 6% }
	.commentlist .children { padding-left: 0; padding-right: 0; }
}