blockquote { padding: 20px 70px 20px 30px }
blockquote:after {
	right: 20px;
	left: inherit;
}
dt {
	float: right;
	clear: right;
	text-align: right;
}
/*-[ Header ]-----------------------*/
header { float: right }
.main-header { float: right }
#header { float: right }
#header h1, #header h2 { float: right }
#logo a { float: right }
#logo img { float: right }
.logo-wrap { float: right }
.logo-wrap:before {
	right: inherit;
	left: 0px;
}
.logo-wrap:after {
	right: inherit;
	left: 0;
}
.search-style-one { 
	float: left;
	padding-left: 0; 
}
.site-description {
	float: right;
	clear: right;
}
#header .search-row input#s { 
	float: right; 
	padding-right: 0; 
	padding-left: 10px; 
}
.overlay .overlay-close { float: left }
.overlay .overlay-close svg { right: inherit; left: -8px; }
.breadcrumb div.root { padding-right: 0; padding-left: 5px; }
/*-[ Navigation ]-----------------*/
#secondary-navigation { float: right; }
#secondary-navigation a { text-align: right }
#primary-navigation { float: left; }
#primary-navigation .navigation .sub-menu a { padding-left: 20px; }
.header-social { float: right; }
.navigation { float: left }
.navigation ul li { float: right }
.navigation ul ul ul { right: 190px }
.navigation i { margin-right: 0; margin-left: 4px; }
#secondary-navigation .menu a { 
	border-right: 0;
	border-left: 1px solid rgba( 0, 0, 0, 0.07 );
}
#secondary-navigation .sub-menu a { border-left: 0 }
#secondary-navigation .navigation .menu-item-has-children > a, .navigation .menu-item-has-children > a {
	padding-right: 20px;
	padding-left: 35px;
}
.menu-item-has-children > a:after {
	right: inherit;
	left: 15px;
}
#primary-navigation .navigation .sub-menu a, #secondary-navigation .navigation .sub-menu a { text-align: right }
/*-[ Content ]--------------------*/
.article { float: right }
#content_box { float: right }
article ul, article ol {margin: 1.5em 2.5em 1.571em 0;}
.post { float: right }
.readMore { float: left }
.ss-full-width #content_box {
	padding-left: 0;
	padding-right: 0;
}
.wp-post-image { float: right }
.featured-thumbnail { float: right }
.post-image { float: right }
.post-image-left { margin-left: 2.4% }
.single-title {
	float: right;
	padding: 0 0 0 0;
}
.post-info { float: right }
.post-info > span { margin-right: 0; margin-left: 7px }
/**********latest-posts***********/
article header { float: right }
.latestPost { float: right }
.article .iconlist { margin-right: 0 }
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a { padding-right: 5px }
/*-[ Tables ]--------------------*/
table { text-align: right }
table th, table td { text-align: right }
/*-[ Search Form ]------------------*/
#searchform { float: right }
#search-image.sbutton, #searchsubmit {
	left: 0px;
	float: left;
	right: auto;
}
#searchform .fa-search { left: 0px }
#s { float: right }
/* Microphone icon position fix */
input::-webkit-input-speech-button {
	margin-left: 14px;
	margin-right: 4px;
}

/*-[ Read More ]-------------------*/
.read-more { margin: 0 10px 0 0 }

/*-[ Bottom Ad in post ]-----------*/
.bottomad { float: right }
.sidebar.c-4-12 { float: left }
.sidebar .post-img, #site-footer .post-img, .widget .wpt_thumbnail, .widget .wp_review_tab_thumbnail {
	margin-left: 20px;
	margin-right: 0!important;
	float: right;
}
.widget { float: right }
.widget h3 { margin: 0px 0 15px 0 }
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li { padding-right: 0 }
.share-item { float: right }
.share-item.shareit.top { float: right }
.social-profile-icons ul li { float: right }
.f-widget {
	float: right;
	margin-left: 2.56%;
}
.widgets-num-3 .f-widget, .widgets-num-4 .f-widget { margin-right: 0; }
.widgets-num-4 .f-widget:last-child, .widgets-num-3 .f-widget:last-child { margin-left: 0; }
.copyrights { float: right }

/*-[ Back To Top ]---------------------------*/
.top { float: left }
.to-top { float: left }
#copyright-note > span { float: right }
.toplink { margin-left: 0; margin-right: 22px; }
#move-to-top { left: 26px }

/*-[ Related Posts ]---------------------------*/
.related-posts { float: right }
.related-posts ul { margin-right: 0 }
.related-posts h5 { padding-right: 80px }
.related-posts .relatepostli3, .related-posts .relatepostli1 {
	margin-left: 0;
	float: left;
}
.related-posts li { float: right }
.rthumb {
	float: right;
	margin-left: 10px;
}
.related-posts .last { margin-left: 0 }
.advanced-recent-posts .post-info { padding-right: 10px; }

/*-[ Post Tags ]---------------------------------*/
.tags { float: right }
.tagtext { margin-right: 0; margin-left: 10px; }
.tags a { margin-right: 0; margin-left: 5px; }

/*-[ Author Box ]--------------------------------*/
.postauthor {
	float: right;
}
.postauthor img {
	float: right;
	margin: 4px 0 0 20px;
}
.author-social { float: right; }
.author-social a { float: right; }
.left { float: right }
.right { float: left }
.last { margin-left: 0 }

/*-[ Tag widget ]------------------------------*/
.tagcloud a {
	float: right;
	margin-right: 0;
	margin-left: 7px;
}

/*-[ Subscribe Widget ]------------------------*/
.mts-subscribe input[type="text"] { float: right }
#mts_subscribe_widget { border: 1px solid #F1F1F1 !important }
.mts-subscribe input[type="submit"] {
	float: left;
	left: 0;
	right: auto;
}

/*-[ Ad Widgets ]------------------------------*/
.ad-125 li {
	float: right;
	padding-right: 0;
	margin-right: 0;
}
.ad-125 li:nth-child(2n+2) { float: left!important }
#wp-calendar td { border-left: 1px solid #F1F4F6 }
#wp-calendar #prev {
	text-align: right;
	padding-right: 12px;
}

/*-[Comments]--------------*/
.nocomments { float: right }
#comments { float: right }
#commentsAdd { float: right }
#comments .avatar {
	float: right;
	margin-right: 0;
	margin-left: 20px;
}
.comment time { padding-right: 10px }
ul.children .commentImageLeft {
	border-right: 1px solid #c1bbb6;
	right: -70px;
}
input#author, input#email, input#url { margin-left: 10px }
#commentform input#submit, .contactform #submit { float: right }
.contactform #submit { float: right }
ol.commentlist { margin-right: 0 }
.comment-likes-dislikes { float: right; margin-right: 0; margin-left: 12px; }
.reply { float: right }
.comment .likeus, .comment .dislikeus, .comment .like-count.dislike-count {
	float: right;
	margin-right: 0;
	margin-left: 8px;
}
.reply a { float: right }
.commentlist .children {
   margin: 0;
   padding: 7px 80px 0 0;
}
.avatar { float: right }
#commentform p { float: right }
#commentform p label { padding-right: 10px }
.cancel-comment-reply a { float: left }
.comment-notes .required { padding-right: 0 }
.contact-form.loading:after { right: 0 }
.ajax-search-results-container.loading:after {
	left: 0;
	right: 0;
}
.ajax-search-results .wp-post-image {
	margin-left: 10px;
	margin-right: 0;
}
.ajax-search-meta .results-count { float: right }
.ajax-search-meta .results-link { float: left }
.bypostauthor:after { right: inherit; left: -1px; }
.comment-list:before {
	left: inherit;
	right: 30px;
}

/*-[ Load More ]-------------------*/
.pace .pace-progress { right: 0 }
pre:before { right: inherit; left: 14px }

/*-[ WP Tab Widget ]--------------------------------*/
.wpt_widget_content .inside li, .widget .wp_review_tab_widget_content .tab-content li { text-align: right!important }

/*-[ WP Review ]--------------------------------*/
.latestPost-review-wrapper {
	left: 0;
	right: auto;
}
.review-result-wrapper i { float: left }
.review-desc { float: right }
.review-total-wrapper {
	float: left;
	margin-right: 0;
	margin-left: 15px;
}
.user-total-wrapper {
	float: right;
	text-align: right;
}
.user-total-wrapper span { float: right }
span#mts-user-reviews-counter { float: none }
.review-total-star.allowed-to-rate { float: left }
.widget .wp-review-tab-pagination a.next { float: left }
.widget .wp-review-tab-pagination a.prev { float: right }

/*Full Width Slider and Primary Slider */
.slide-caption-inner:before { right: -210px; }
.full-slider-container .slide-content { float: right }
#big-image .owl-controls .owl-prev { right: inherit; left: 70px; }
#big-image .owl-controls .owl-next { right: inherit; left: 100px; }
#thumb.owl-carousel .owl-stage-outer { padding-left: 0; padding-right: 4px; }
.primary-slider .slide-caption { right: 30px; }
#page .primary-slider-container .owl-prev { right: inherit; left: 30px; }
#page .primary-slider-container .owl-next { right: inherit; left: 75px; }

/*latestPost*/
.grid-4 .latestPost { margin-right: 0; margin-left: 3.5%; }
.grid-4 .latestPost:nth-child(4n) { margin-left: 0; }
.grid-1 .latestPost .post-image { margin-right: 0; margin-left: 3.5%; }
.readMore { float: right; }
#load-posts .fa { margin-right: 0; margin-left: 8px; }
.toggle-menu .toggle-caret { left: 5px; right: inherit; }
.widget_nav_menu .sub-menu { padding-left: 0; }
.related-posts .latestPost { margin-right: 0; margin-left: 1.25%; }
.related-posts .latestPost.small-post { margin-left: 0; }
.comment:before { right: 30px; }
#cancel-comment-reply-link { right: inherit; left: 5%; }
.shareit.floating { 
	right: 10px;
	margin: 0; 
}
.single_post a.thecategory {
	margin-right: 0;
	margin-left: 15px;
}
.widget .total-count { float: left }
.children .comment-list:after { 
	left: inherit; 
	right: -50px; 
}
.comment #respond #respond #commentform p img { margin-left: 0 }
.widget .widget-slider .owl-dots { left: inherit; right: 25px; }
.widget .widget-slider .slide-caption { left: 0; right: 25px; }
.full-slider-container .big-image-container .slide-caption { left: inherit; right: 0 }
@media screen and (max-width:1024px) {
	.commentlist .children .children { padding-right: 0 }
}
@media screen and (max-width:865px) {
	#secondary-navigation .menu a {
		padding-left: 15px!important;
	}
	.navigation .toggle-menu .toggle-caret {
		right: inherit;
		left: 0;
	}
	.navigation ul { margin: 0 }
	#secondary-navigation { float: left!important }
	#secondary-navigation a#pull { margin-right: 0; margin-left: 15px; }
	#secondary-navigation a#pull:after { right: -18px; top: 30px; }
	.sub-menu .menu-item-has-children > a:after { display: none; }
	.grid-4 .latestPost { margin-left: 4%; margin-right: 0; }
	.grid-4 .latestPost:nth-child(even) { margin-left: 0; }
	#secondary-navigation .navigation .toggle-caret { border-left: 0; border-right: 1px solid rgba(0, 0, 0, 0.2); }
	.navigation i { margin-left: 0 }
}

@media screen and (max-width:800px) {
	.grid-4 .latestPost { margin-right: 0; margin-left: 3.5%; }
	.grid-4 .latestPost:nth-child(even) { margin-right: 0; margin-left: 3.5%; }
	.grid-4 .latestPost:nth-child(4) { margin-left: 0; }
	.widgets-num-4 .f-widget, .widgets-num-3 .f-widget { margin-left: 4%; }
	.widgets-num-4 .f-widget:nth-child(even), .widgets-num-3 .f-widget:nth-child(even) { margin-left: 0; }
}

@media screen and (max-width:550px) {
	#header #s { padding-left: 45px; }
	.grid-4 .latestPost:nth-child(even) { margin-left: 0;}
}