/*--------------------------------------
WooCommerce Custom CSS template for
MyThemeShop.com Themes.
---------------------------*/
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
	margin-top: -2px;
	margin-bottom: 25px;
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
	font-size: 14px;
	line-height: 35px;
}
.woocommerce .products ul, .woocommerce-page .products ul, .woocommerce ul.products, .woocommerce-page ul.products {
	padding-top: 25px;
	border-top: 1px solid #dedfdf;
	margin-bottom: 15px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	width: 30.71%;
	text-align: center;
	padding-bottom: 25px;
	margin-bottom: 26px;
	margin-right: 3.8%;
}
.woocommerce ul.products li.last, .woocommerce-page ul.products li.last { margin-right: 0 }
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button {
	background: #ff5722;
	color: #fff!important;
	border: 0;
	padding: 0 20px;
	line-height: 40px;
	box-shadow: none;
	font-size: 14px;
	border-radius: 0;
}
.woocommerce a.button:hover, .woocommerce-page a.button:hover, .woocommerce button.button:hover, .woocommerce-page button.button:hover, .woocommerce input.button:hover, .woocommerce-page input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page #content input.button:hover { background: #292929 }
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 { font-size: 18px; padding-bottom: 10px; }
.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del { font-size: 18px }
.woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins { font-size: 18px }
.woocommerce ul.products li.product .price {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-bottom: 8px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
	font-size: 20px;
	color: inherit;
	font-weight: bold;
	margin-bottom: 10px;
}
.woocommerce div.product .woocommerce-product-rating { margin-bottom: 10px }
.woocommerce-main-image.zoom img { margin-bottom: 12px }
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img, .woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img, .woocommerce div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page #content div.product div.images img { 
	box-shadow: none; 
	margin-bottom: 14px;
}
.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last { margin-right: 0!important }
.woocommerce ul.cart_list li img, .woocommerce-page ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.product_list_widget li img {
	width: auto;
	max-width: 70px;
	float: left;
	box-shadow: none;
	margin-left: 0;
	margin-right: 25px;
}
.woocommerce .related ul.products, .woocommerce-page .related ul.products, .woocommerce .upsells.products ul.products, .woocommerce-page .upsells.products ul.products, .woocommerce .related ul, .woocommerce-page .related ul, .woocommerce .upsells.products ul, .woocommerce-page .upsells.products ul { margin-bottom: 0 }
.woocommerce .related ul.products li.product, .woocommerce-page .related ul.products li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .upsells.products ul.products li.product, .woocommerce .related ul li.product, .woocommerce-page .related ul li.product, .woocommerce .upsells.products ul li.product, .woocommerce-page .upsells.products ul li.product {
	width: 30%;
	clear: none;
	margin-right: 4.7%;
	margin-bottom: 25px;
	border-bottom: 0;
	padding-bottom: 15px;
}
.woocommerce .related ul.products li.product:last-child, .woocommerce-page .related ul.products li.product:last-child, .woocommerce .upsells.products ul.products li.product:last-child, .woocommerce-page .upsells.products ul.products li.product:last-child, .woocommerce .related ul li.product:last-child, .woocommerce-page .related ul li.product:last-child, .woocommerce .upsells.products ul li.product:last-child, .woocommerce-page .upsells.products ul li.product:last-child { margin-right: 0 }
.woocommerce div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page #content div.product form.cart .button { 
	line-height: 40px;
	padding: 0 20px; 
	font-family: inherit;
}
.woocommerce div.product .product_title { line-height: 40px }
.woocommerce form .form-row select, .woocommerce-page form .form-row select, .woocommerce form .form-row input.input-text, .woocommerce-page form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row textarea { 
	line-height: 33px;
	padding-top: 0;
	padding-bottom: 0; 
}
.woocommerce form .form-row textarea, .woocommerce-page form .form-row textarea { 
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px; 
}
.woocommerce form .form-row .select2-container { line-height: 35px }
.woocommerce table.cart input, .woocommerce-page table.cart input, .woocommerce #content table.cart input, .woocommerce-page #content table.cart input { line-height: 40px; padding: 0 20px!important; }
#coupon_code {
	padding: 6px 10px;
	height: 40px;
	width: 125px;
}
.checkout_coupon .form-row.form-row-first { margin-bottom: 0 }
.woocommerce div.product div.images div.thumbnails a, .woocommerce-page div.product div.images div.thumbnails a, .woocommerce #content div.product div.images div.thumbnails a, .woocommerce-page #content div.product div.images div.thumbnails a {
	width: 22.75%;
	margin-right: 3%;
}
.woocommerce .star-rating, .woocommerce-page .star-rating {
	margin-top: 12px;
	margin-right: 0;
	margin-bottom: 20px;
}
.woocommerce .widget_rating_filter ul li .star-rating { margin: 0 }
.woocommerce #commentform p label { 
	float: left;
	width: 100%;
	clear: both;
	padding-left: 0; 
}
.comment-text .star-rating {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}
.woocommerce ul.cart_list li .quantity, .woocommerce ul.product_list_widget li .quantity { font-size: 15px }
.product_list_widget .amount {
	color: inherit;
	font-weight: normal;
	font-size: 15px
}
.woocommerce ul.cart_list li .star-rating, .woocommerce-page ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating, .woocommerce-page ul.product_list_widget li .star-rating {
	float: right;
	margin-top: 4px;
	font-weight: normal;
	margin-right: 0;
	margin-bottom: 4px;
}
.woocommerce .widget ul.cart_list li dl, .woocommerce .widget ul.product_list_widget li dl {
	border: 0;
	padding: 0;
	width: auto;
	overflow: hidden;
}
.woocommerce ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dd { margin: 0; }
.woocommerce dt {
	width: auto;
	line-height: 20px;
}
.star-rating { color: #f37324 }
.woocommerce .widget_layered_nav ul li, .woocommerce-page .widget_layered_nav ul li { 
	padding: 5px 0 4px;
	margin-left: 0; 
}
.woocommerce .widget_layered_nav ul small.count, .woocommerce-page .widget_layered_nav ul small.count {
	font-weight: normal;
	background: #222;
	color: #fff;
	padding: 0;
	width: 29px;
	text-align: center;
}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating { margin: 0 auto 6px }
.woocommerce ul.products li.product .star-rating { font-size: 12px; margin-bottom: 8px; }
.woocommerce ul.products li.product .button { margin-top: 6px; border-radius: 0; }
.post-type-archive-product .page-title, .post-type-archive-product .woocommerce-breadcrumb { display: none }
.woocommerce ul.products li.product:last-child, .woocommerce-page ul.products li.product:last-child, .woocommerce ul.products li.product:nth-last-child(2), .woocommerce-page ul.products li.product:last-child:nth-last-child(2), .woocommerce ul.products li.product:nth-last-child(3), .woocommerce-page ul.products li.product:nth-last-child(3) { margin-bottom: 25px }
.woocommerce-pagination { 
	float: left;
	width: 100%;
	margin-bottom: 35px; 
}
.article .woocommerce-error {
	margin-top: 0;
	margin-left: 0;
}
.woocommerce .bypostauthor {
	padding: 0!important;
	width: 100%!important;
}
.woocommerce .bypostauthor:after { display: none!important }
.woocommerce #reviews #comments ol.commentlist li, .woocommerce-page #reviews #comments ol.commentlist li {
	width: 100%;
	border: 0;
	box-shadow: none;
	margin-left: 0;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar {
	width: 8.2%;
	padding: 0;
	border: 0;
	margin-top: 5px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	padding: 10px 0;
	width: 89%;
	float: right;
	border-radius: 0;
	border: 0;
	padding-top: 0;
}
.add_review { float: left }
.woocommerce #comments { margin-bottom: 10px }
.widget.woocommerce .buttons {
	margin-bottom: 0;
	padding: 0;
	font-size: inherit;
	border-radius: 0;
}
.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
	background: #ff5722;
	color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current {
	font-weight: bold;
	width: 40px;
	line-height: 40px;
	padding: 0;
}
.woocommerce nav.woocommerce-pagination ul li, .woocommerce-page nav.woocommerce-pagination ul li, .woocommerce #content nav.woocommerce-pagination ul li, .woocommerce-page #content nav.woocommerce-pagination ul li {
	border: 0;
	background: #fff;
	margin-bottom: 10px;
	width: auto;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce-page nav.woocommerce-pagination ul, .woocommerce #content nav.woocommerce-pagination ul, .woocommerce-page #content nav.woocommerce-pagination ul {
	border: 0;
	margin: 0;
}
.woocommerce nav.woocommerce-pagination ul li a { 
	float: none;
	color: #34495e;
	padding: 0;
	font-weight: bold;
	min-width: 40px;
	line-height: 40px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size: 14px;
	margin-bottom: 0;
}
.woocommerce #reviews #comments h2, .woocommerce-page #reviews #comments h2 {
	font-size: 18px;
	margin-bottom: 0;
}
#searchform #searchsubmit { width: 30% }
#searchform #searchsubmit:hover { background: #222 }
.added_to_cart {
	clear: both;
	float: left;
	width: 100%;
}
.woocommerce #page { float: none }
.woocommerce .quantity .qty { 
	height: 38px;
	padding: 0 0 0 10px!important;
	font-size: 14px;
	font-weight: normal; 
}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating { margin: 0 auto .5em }
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
	padding-left: 30px;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 14px;
}
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
	padding: 0;
	padding-top: 15px;
	margin-bottom: 15px;
	border-top: 0;
	clear: both;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li { padding: 15px 0 14px }
.woocommerce ul.product_list_widget li:first-child { padding-top: 0 }
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a { margin-bottom: 5px }
.woocommerce-product-search input[type="search"] {
	float: left;
	width: 70%;
	padding: 0 8px;
	line-height: 38px;
	font-size: inherit;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-right: 0;
	box-sizing: border-box;
}
.woocommerce-product-search input[type="submit"] {
	float: right;
	width: 30%;
	height: 40px;
}
.woocommerce-product-search input[type="submit"]:hover { background: #292929 }
.woocommerce .widget_price_filter .price_slider_amount { font-size: inherit }
.woocommerce .widget_price_filter .price_slider_amount .button { 
	font-size: inherit;
	line-height: 32px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { 
	background-color: #888;
	margin-bottom: 25px; 
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle { background: #444; cursor: pointer; }
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover { background: #333 }
.woocommerce #reviews #comments ol.commentlist { margin-top: 15px }
.woocommerce #review_form #respond p.stars, .woocommerce #review_form #respond p.comment-form-rating { margin: 0 }
.woocommerce #review_form #respond p.form-submit { margin-top: 10px }
.woocommerce #review_form #respond input#author, .woocommerce #review_form #respond input#email, .woocommerce #review_form #respond input#url, .woocommerce #review_form #respond .contact-form input { width: 100%; max-width: 100% }
.woocommerce div.product .woocommerce-tabs ul.tabs { margin: 0 0 20px }
.woocommerce #reviews #comment { height: 120px }
.woocommerce .woocommerce-breadcrumb {
	font-size: inherit;
	margin: 0 0 15px;
	color: inherit;
}
.woocommerce .woocommerce-breadcrumb a { color: inherit }
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
	width: 70px;
	margin: 0;
}
.woocommerce table.shop_table td { padding: 15px 12px }
#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	font-size: 16px;
	padding: 0;
	line-height: 40px;
}
.woocommerce ul.products li.product .onsale, .woocommerce span.onsale, .woocommerce-page span.onsale {margin: 0;min-width: auto;min-height: auto;line-height: 24px;border-radius: 0;padding: 0 8px;top: 10px;}
.woocommerce span.onsale, .woocommerce-page span.onsale {
	left: 0;
	top: 10px;
}
.woocommerce .widget li, .woocommerce-page .widget li, .woocommerce .widget_rating_filter ul li {
	padding-top: 6px;
	padding-bottom: 5px;
}
.woocommerce .widget li:first-child, .woocommerce-page .widget li:first-child, .woocommerce .widget_rating_filter ul li:first-child { padding-top: 0 }
.woocommerce #review_form #respond p { width: 100%; max-width: 100%; }
.woocommerce #review_form #respond p.form-submit {max-width: 100%;}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
	width: 21px;
	height: 21px;
	line-height: 15px;	
	font-size: 22px;
}
.woocommerce a.remove { font-size: inherit }
.woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after { top: 0; right: 20px; }
.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart { 
	padding-top: 10px; 
	font-weight: bold; 
}
#reviews #commentform p.comment-form-comment:after, #reviews #commentform p.comment-form-comment:before { display: none; }
.woocommerce #review_form #respond .form-submit input {font-size: 16px;width: auto;}
.woocommerce .widget li .children li:first-child, .woocommerce .widget_nav_menu .sub-menu li:first-child, .woocommerce-page .widget li .children li:first-child, .woocommerce-page .widget_nav_menu .sub-menu li:first-child { padding-top: 6px }
@media screen and (max-width:768px) { 
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images { width: 48%; float: left; }
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary { width: 48%; float: right; }
	.woocommerce div.product .product_title { font-size: 30px }
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product { clear: none }
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), .woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), .woocommerce[class*=columns-] ul.products li.product:nth-child(2n) { float: left }
	.woocommerce ul.products li.product:nth-child(3n+1), .woocommerce-page ul.products li.product:nth-child(3n+1), .woocommerce-page[class*=columns-] ul.products li.product:nth-child(3n+1), .woocommerce[class*=columns-] ul.products li.product:nth-child(3n+1) { clear: left!important }
}
@media screen and (max-width:550px) { 
	.woocommerce div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page #content div.product div.images { width: 100% }
	.woocommerce div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page #content div.product div.summary { width: 100% }
	 .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce .related ul.products li.product, .woocommerce-page .related ul.products li.product {
		width: 48%;
		margin-right: 4%;
	}
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), .woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), .woocommerce[class*=columns-] ul.products li.product:nth-child(2n) { margin-right: 0 }
	.woocommerce ul.products li.product:nth-child(3n+1), .woocommerce-page ul.products li.product:nth-child(3n+1), .woocommerce-page[class*=columns-] ul.products li.product:nth-child(3n+1), .woocommerce[class*=columns-] ul.products li.product:nth-child(3n+1) { clear: none!important }
	.woocommerce .related ul.products li.product:last-child, .woocommerce-page .related ul.products li.product:last-child, .woocommerce .upsells.products ul.products li.product:last-child, .woocommerce-page .upsells.products ul.products li.product:last-child, .woocommerce .related ul li.product:last-child, .woocommerce-page .related ul li.product:last-child, .woocommerce .upsells.products ul li.product:last-child, .woocommerce-page .upsells.products ul li.product:last-child { clear: left }
}
@media screen and (max-width: 400px) { 
	.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count { float: none; text-align: center; }
}	