/**
 * Typography
 */

body {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

body,
button,
input,
textarea {
	color: $color_body;
	font-family: $base-font;
	line-height: 1.618;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

select {
	color: initial;
	font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 300;
	margin: 0 0 ms(-3);
	color: darken( $color_body, 20% );

	a {
		font-weight: 300;
	}
}

h1,
.alpha {
	font-size: ms(5);
	line-height: 1.214;
	letter-spacing: -1px;
}

h2,
.beta {
	font-size: 2em;
	line-height: 1.214;

	& + h3 {
		border-top: 1px solid $color_border;
		padding-top: ms(-3);
	}
}

h3,
.gamma {
	font-size: ms(3);
}

h4,
.delta {
	font-size: ms(2);
}

.alpha,
.beta,
.gamma,
.delta {
	display: block;
}

p,
ul,
ol,
table,
blockquote,
form {
	& + h2,
	& + header h2,
	& + h3,
	& + h4 {
		margin-top: ms(4);
	}
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 0 0 ms(2);
}

p {
	margin: 0 0 ms(2);
}

ul,
ol {
	margin: 0 0 ms(2) 3em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: ms(1);
}

dt {
	font-weight: 600;
}

dd {
	margin: 0 0 ms(3);
}

b,
strong {
	font-weight: 600;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	padding: 0 ms(1);
	border-left: 3px solid rgba(0,0,0,0.05);
	font-style: italic;
}

address {
	margin: 0 0 ms(2);
}

pre {
	background: rgba(#000,.1);
	font-family: "Courier 10 Pitch", Courier, monospace;
	margin-bottom: ms(3);
	padding: ms(3);
	overflow: auto;
	max-width: 100%;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background-color: rgba(0,0,0,0.05);
	padding: .202em ms(-3);
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	text-decoration: none;
	font-weight: 600;
	background: transparent;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

table {
	margin: 0 0 ms(2);
	width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
	display: block;
}

a {
	color: $color_body;
	text-decoration: none;
	font-weight: 400;

	&:focus {
		outline: 1px dotted $color_woocommerce;
	}
	&:hover {
		color: $color_links;
	}
}

// Wait, what..?
.azonbooster-cute * {
	font-family: "Comic Sans MS", sans-serif;
}

/**
 * Global styles
 */
* {
	box-sizing: border-box;
}

body {
	background-color: $body-background;
	overflow-x: hidden;
}

.site {
	overflow-x: hidden;
}

.site-content,
.header-widget-region {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**
 * Header
 */
.site-header {
	
	border-bottom: 2px solid #ccc;
	background: $color-white;
	position: relative;

	.site-logo-anchor,
	.site-logo-link,
	.custom-logo-link {
		display: block;

		img {
			max-width: 210px;
		}
	}
	
	.menu-handburger-btn {
		background: #fff;
		font-size: ms(3);
		padding: 0;
		color: #555;
	}

	.site-branding,
	.site-logo-anchor,
	.site-logo-link,
	.custom-logo-link {
		margin-bottom: 0;
		float: left;
	}

	.widget {
		margin-bottom: 0;
	}
}

.home.blog,
.single-post,
.archive,
.page,
.search,
.error404,
.home.page:not(.page-template-template-homepage),
.home.post-type-archive-product {
	.site-header {
		margin-bottom: ms(7);
	}
}

.no-wc-breadcrumb {
	.site-header {
		margin-bottom: ms(7);
	}

	&.page-template-template-homepage {
		.site-header {
			margin-bottom: 0;
		}
	}
}

.header-widget-region {
	position: relative;
	z-index: 99;
}

.site-branding {
	.site-title {
		font-size: 2em;
		letter-spacing: -1px;
		margin: 0;

		a {
			font-weight: 700;
		}
	}

	.site-description {
		font-size: ms(-1);
		display: none;
	}
}

/**
 * Main content area
 */
.site-main {
	margin-bottom: ms(5);
}

.site-content {
	outline: none;

	.entry-content {

		a {
			@include nonUnderlinedLink();
			@include links($color_links, $color_links, $color_links, $color_links);
		}

		.read-more {
			background: $color_links;
			color: $color-white;
			display: inline-block;
			padding: 10px 0;
			width: 100%;
			text-align: center;

			&:hover {
				
				@include transition(background-color, 1s, ease-in);
				text-decoration: none;
				color: $color-white;
				background: $color_links_hover;

			}
			&:visited {
           		color: $color-white;
        	}
        
	        &:active, &:focus {
	            color: $color-white;
	        }
		}
	}
	
}


.page-template-template-homepage:not(.has-post-thumbnail) {
	.site-main {
		padding-top: ms(7);
	}
}

.page-template-template-homepage {
	.type-page {
		padding-top: ms(5);
		padding-bottom: ms(5);
		position: relative;

		.azonbooster-hero__button-edit {
			position: absolute;
			top: 1em;
			right: 1em;
			font-size: ms(-1);
		}
	}

	.entry-content {
		font-size: 1.1em;

		p:last-child {
			margin-bottom: 0;
		}
	}

	.entry-header {
		h1 {
			font-size: ms(6);
			margin-bottom: ms(-6);
		}
	}

	.entry-content,
	.entry-header {
		max-width: ms(16);
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

.page-template-template-homepage.has-post-thumbnail {
	.type-page.has-post-thumbnail {
		background-size: cover;
		background-position: center center;
		padding-top: ms(9);
		padding-bottom: ms(9);

		.entry-content,
		.entry-title {
			opacity: 0;
			transition: all,ease,.5s;

			&.loaded {
				opacity: 1;
			}
		}
	}
}

/**
 * Footer
 */
.site-footer {
	background-color: #f3f3f3;
	color: $color_body + #333;
	padding: ms(3) 0 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color_body + #222;
	}
	.site-info {
		clear: both;
		@include clearfix;
		margin-left: -99em;
		margin-right: -99em;
		padding-left: 99em;
		padding-right: 99em;

		background: rgba(0,0,0,.03);
    	border-top: solid 1px rgba(0,0,0,.07);
	}
}

.site-info {
	padding: ms(5) 0;

}

/**
 * Alignment
 */
.alignleft {
	display: inline;
	float: left;
	margin-right: ms(1);
}
.alignright {
	display: inline;
	float: right;
	margin-left: ms(1);
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/**
 * Accessibility
 */
.screen-reader-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	display: block;
	font-weight: bold;
	height: auto;
	left: 0;
	line-height: normal;
	padding: 1em ms(3);
	text-decoration: none;
	top: 0;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
	outline: none;
}

/**
 * Clearing
 */
.clear,
.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
	@include clearfix;
}

/**
 * Tables
 */
table {
	border-spacing: 0;
	width: 100%;
	border-collapse: separate;

	caption {
		padding: 1em 0;
		font-weight: 600;
	}

	td,
	th {
		padding: 1em ms(2);
		text-align: left;
		vertical-align: top;

		p:last-child {
			margin-bottom: 0;
		}
	}

	th {
		font-weight: 600;
	}

	thead {
		th {
			padding: ms(2);
			vertical-align: middle;
		}
	}

	tbody {
		h2 {
			font-size: 1em;
			letter-spacing: normal;
			font-weight: normal;

			a {
				font-weight: normal;
			}
		}
	}
}

/**
 * 404 Styles
 */
.error404 {

	.site-content .widget_product_search {
		padding: ms(3);
		background-color: rgba(#000,.025);

		form {
			margin: 0;
		}
	}

	&.right-sidebar .content-area,
	&.left-sidebar .content-area,
	.content-area {
		width: 100%;
		margin-right: 0;
	}

	.fourohfour-columns-2 {
		@include clearfix;
		padding: ms(5) 0;
		border: 1px solid $color_border;
		border-width: 1px 0;
		margin-bottom: ms(5);

		ul.products,
		ul.products li.product,
		.widget {
			margin-bottom: 0;
		}

		.col-1 {
			@include span( 6 of 12 );

			ul.products {
				li.product {
					@include span( 3 of 6 );
				}
			}
		}

		.col-2 {
			@include span( last 6 of 12 );
			padding: ms(3);
			background-color: rgba(#000,.025);
		}
	}
}

/**
 * Comments
 */
#comments {
	padding-top: ms(5);

	.comments-title {
		border-bottom: 1px solid $color_border;
		padding-bottom: ms(-3);
		margin-bottom: ms(3);
	}

	.comment-list {
		list-style: none;
		margin-left: 0;

		.comment-body {
			@include clearfix;
		}

		.comment-content {
			padding-bottom: ms(3);
			margin-bottom: ms(3);

			.comment-text {
				padding: ms(3);
				border-radius: 3px;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}

		.comment-meta {
			margin-bottom: 1em;

			.avatar {
				margin-bottom: 1em;
				max-width: 64px;
				height: auto;
			}

			a.comment-date {
				font-size: ms(-1);
			}

			cite {
				font-style: normal;
				clear: both;
				display: block;
			}
		}


		.reply {
			@include clearfix;
			margin-bottom: ms(3);
			padding-top: ms(-2);

			a {
				display: inline-block;
				margin-right: 1em;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.children {
			list-style: none;
		}
	}
}

.comment-content a {
	word-wrap: break-word;
}

#respond {
	clear: both;
	padding: ms(3);
	background-color: rgba(0,0,0,0.0125);
	position: relative;

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		input {
			width: 100%;
		}
	}

	.form-submit,
	form {
		margin-bottom: 0;
	}

	#cancel-comment-reply-link {
		position: absolute;
		top: ms(-3);
		right: ms(-3);
		display: block;
		height: 1em;
		width: 1em;
		overflow: hidden;
		line-height: 1;
		font-size: ms(2);
		text-align: center;
		transition: transform,ease,.3s;

		&:hover {
			transform: scale(1.3);
		}
	}
}

/**
 * Content
 */
.type-post {

	margin: 0 0 ms(5);

	.wp-post-image {
		margin-bottom: ms(2);
		margin-left: auto;
		margin-right: auto;
	}

	.entry-header {
		margin-bottom: ms(1);
		border-bottom: 1px solid $color_border;
		padding-bottom: ms(-3);
		.alpha {

			margin-bottom: 0;

		}
	}

	.entry-meta {

		font-weight: 300;
		color: $color_gray30;

		a {
			font-weight: 300;
			text-decoration: underline;
			color: $color_gray30;

			&:hover {
				text-decoration: none;
				color: $color_links;
			}
		}

		.meta-date:after,
		.author:after,
		.meta-category:after,
		.comments-link:after,
		.meta-tag:after {
			content: "|";
			padding:0 5px;
		}

		>:last-child:after {
			display: none;
		}
	}

	&.type-page {
		.entry-header {
			border-bottom: 0;
			margin-bottom: 0;
		}
	}
}

.byline,
.updated:not(.published) {
	display: none;
}
.single, .group-blog {
	.byline {
		display: inline;
	}
}
.page-links {
	clear: both;
	margin: 0 0 ms(1);
}

.cat-links,
.tags-links,
.comments-link,
.author {
	display: inline;
	margin-bottom: ms(3);
}

.author {
	.avatar {
		width: 64px;
		margin-bottom: 1em;
	}
}

/**
 * Forms
 */
form {
	margin-bottom: ms(3);
}

button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.added_to_cart {
	border: 0;
	background: none;
	background-color: $color_links;
	border-color: $color_links;
	color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	padding: ms(-2) ms(2);
	text-decoration: none;
	font-weight: 600;
	text-shadow: none;
	display: inline-block;
	outline: none;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	border-radius: 0;

	&:hover {
		@include transition(background-color, 1s, ease-in);
		text-decoration: none;
		color: $color-white;
		background: $color_links_hover;
	}

	&.cta,
	&.alt {
		background-color: $color_links;
		border-color: $color_links;

		&:hover {
			background-color: $color_links;
		}
	}

	&:focus {
		outline: 1px dotted $color_links_hover;
	}

	&.loading {
		opacity: 0.5;
	}

	&.small {
		padding: ms(-3) ms(-1);
		font-size: ms(-1);
	}

	&.disabled,
	&:disabled {
		opacity: 0.5 !important;
		cursor: not-allowed;

		&:hover {
			opacity: 0.5 !important;
		}
	}
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

input[type="search"] {
	box-sizing: border-box; // Overrules normalize.css.
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.input-text {
	padding: 0 0.75em;
    background-color: #ffffff;
    color: #333333;
    outline: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: normal;
    border: 1px solid #ddd;
    height: 34px;
    line-height: 34px;

	&:focus {
		background-color: #fff;
		color: darken( $color_body, 10% );
	}
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: ms(-1);
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
	min-height: 200px;
}

label {
	font-weight: 400;
}

label.inline {
	input {
		width: auto;
	}
}

fieldset {
	padding: ms(3);
	padding-top: ms(1);
	border: 0;
	margin: 0;
	margin-bottom: ms(3);
	margin-top: ms(3);

	legend {
		font-weight: 600;
		padding: ms(-2) ms(1);
		margin-left: - ms(1);
	}
}

[placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition: opacity 0.5s 0.5s ease;
	-moz-transition: opacity 0.5s 0.5s ease;
	transition: opacity 0.5s 0.5s ease;
	opacity: 0;
}

/**
 * Media
 */

.page-content,
.entry-content,
.comment-content {
	img.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
		display: inline-block;
		border-radius: 0;
	}
}

/**
 * Captions
 */
.wp-caption {
	margin-bottom: ms(1);
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}
	.wp-caption-text {
		text-align: left;
		font-style: italic;
		border-bottom: 2px solid $color_border;
		padding: 1em 0;
	}
}

/**
 * Galleries
 */
.gallery {
	@include clearfix;
	margin-bottom: ms(1);

	.gallery-item {
		float: left;

		.gallery-icon {
			a {
				display: block;
			}

			img {
				border: none;
				height: auto;
				margin: 0 auto;
			}
		}

		.gallery-caption {
			margin: 0;
			text-align: center;
		}
	}

	&.gallery-columns-1 {
		.gallery-item {
			width: 100%;
		}
	}

	&.gallery-columns-2 {
		.gallery-item {
			width: 50%;
		}
	}

	&.gallery-columns-3 {
		.gallery-item {
			width: 33.3%;
		}
	}

	&.gallery-columns-4 {
		.gallery-item {
			width: 25%;
		}
	}

	&.gallery-columns-5 {
		.gallery-item {
			width: 20%;
		}
	}

	&.gallery-columns-6 {
		.gallery-item {
			width: 16.666666667%;
		}
	}

	&.gallery-columns-7 {
		.gallery-item {
			width: 14.285714286%;
		}
	}

	&.gallery-columns-8 {
		.gallery-item {
			width: 12.5%;
		}
	}

	&.gallery-columns-9 {
		.gallery-item {
			width: 11.111111111%;
		}
	}
}

/**
 * Embeds
 */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/**
 * Main Naivgation
 */

.main-navigation {
	float: left;
	-webkit-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	transition: all 0.35s ease;
	background: $color_body;
	position: fixed;
	height: 100%;
	width: 280px;
	left: 0;
	top: 70px;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	z-index: 9999;

	.menu-close-btn {
		position: absolute;
	    top: -35px;
	    left: 50%;
	    margin-left: -15px;

	    .fa-close {
	    	color: #fff;
		    cursor: pointer;
		    font-size: 1.875em;
		    line-height: 1;
	    }
	}
}

body.nav-open {
	overflow: hidden;
}

body.nav-open:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	z-index: 9999;
}

body.nav-open .main-navigation {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.main-navigation ul {
	width: 100%;
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}

.main-navigation li {
	position: relative;
	text-align: left;

	&:hover {
		background: #333;
	}
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: #eeeeee;
	padding: 5px 10px;
	border-bottom: 1px solid #4c4c4c;
}

.main-navigation li li a {
	height: auto;
	line-height: auto;
}

.main-navigation ul ul {
	display: none;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {

}

.menu-toggle {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	width: 40px;
	height: 24px;
	margin: auto 0;
	z-index: 99;
}

.menu-toggle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: $color_links;
	border-radius: 0;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.menu-toggle.active {

	span {
		background: $color-white;
	}
	
}

.menu-toggle span:nth-child(1) {
	top: 0;
}

.menu-toggle span:nth-child(2),
.menu-toggle span:nth-child(3) {
	top: 10px;
}

.menu-toggle span:nth-child(4) {
	top: 20px;
}

body.nav-open .menu-toggle span:nth-child(1) {
	top: 6px;
	width: 0;
	left: 50%;
}

body.nav-open .menu-toggle span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

body.nav-open .menu-toggle span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

body.nav-open .menu-toggle span:nth-child(4) {
	top: 18px;
	width: 0;
	left: 50%;
}

.header-right .search-toggle {
    color: $color_links;
    cursor: pointer;
    font-size: 28px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

/*--------------------------------------------------------------
# Search box
--------------------------------------------------------------*/
.site-search {

	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transform: translateY(-100%) translate3d(0px, 0px, 0px);
	-moz-transform: translateY(-100%) translate3d(0px, 0px, 0px);
	transform: translateY(-100%) translate3d(0px, 0px, 0px);
	-webkit-transition: transform 0.3s ease 0s;
	-moz-transition: transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s;
	color: #eeeeee;
	
	input[type="search"] {
		color: #000000;
	}

	.site-search-inner {
		width: 100%;

		form {

			margin-bottom: 0;
		}

		.search-field {
			position: absolute;
		  	width: 96%;
		  	height: 100px;
		  	top: 20%;
		  	bottom: 50%;
		  	left: 2%;
		  	right: 2%;
		  	-webkit-border-radius: 0px;
		  	-moz-border-radius: 0px;
		  	-ms-border-radius: 0px;
		  	border-radius: 0px;
		  	font-size: 1.875em;
		  	text-align: center;
		}

	}

	.search-inner {
		backface-visibility: hidden;
		padding: 0;
		z-index: 1;
	}

	.search-field:-moz-placeholder {
		text-transform: uppercase;
		color: #eeeeee;
	}

	.search-submit {
		display: none;
	}
	.search-toggle-close {
		    position: absolute;
		    top: 0;
		    right: 2%;
		    cursor: pointer;
		    z-index: 2;
		    text-align: right;

		    i {
		    	color: #ffffff;
			    cursor: pointer;
			    font-size: 1.875em;
			    line-height: 1;
			    position: fixed;
			    right: 15px;
			    top: 35px;
		    }
	}
}


body.search-open .site-search {
	-webkit-transform: translateY(0) translate3d(0px, 0px, 0px);
	-moz-transform: translateY(0) translate3d(0px, 0px, 0px);
	transform: translateY(0) translate3d(0px, 0px, 0px);
}

/**
 * Pagination
 */

.site-main nav.navigation {
	@include clearfix;
	clear: both;
	padding: ms(5) 0;

	.nav-previous,
	.nav-next {
		a {
			display: inline-block;
			transition: all,ease,.3s;
			padding: ms(-2) 1em;
			border-radius: 3px;
		}
	}

	.nav-previous {
		float: left;
		width: 50%;

		a {
			&:hover {
				transform: translate(-1em);
			}
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a {
			&:hover {
				transform: translate(1em);
			}
		}
	}

}

/**
 * Pagination
 */
.pagination,
.woocommerce-pagination {
	padding: 1em 0;
	border: 1px solid $color_border;
	border-width: 1px 0;
	text-align: center;
	clear: both;

	ul.page-numbers {
		@include clearfix;
	}

	.page-numbers {
		list-style: none;
		margin: 0;

		li {
			display: inline-block;

			.page-numbers {
				border-left-width: 0;
				display: inline-block;
				padding: ms(-5) ms(-1);
				background-color: rgba(#000,.025);
				color: $color_body;

				&.current {
					background-color: $color_links;
					border-color: $color_links;
					color: $color_white;
				}

				&.dots {
					background-color: transparent;
				}

				&.prev,
				&.next {
					padding-left: 1em;
					padding-right: 1em;
				}
			}

			a.page-numbers {
				&:hover {
					@include transition(background-color, 1s, ease-in);
					text-decoration: none;
					color: $color-white;
					background: $color_links;
				}
			}
		}
	}
}

.rtl {
	.pagination,
	.woocommerce-pagination {
		a.next,
		a.prev {
			transform: rotateY(180deg);
		}
	}
}

.btn-pos-left,
.btn-pos-right {
	width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-pos-right {
	float: right;
}
/**
 * Widgets
 */

.widget {
	margin: 0 0 ms(6);

	select {
		max-width: 100%;
	}

	.widget-search .search-submit {
		@include screen-reader-text();
	}

	.widget-title,
	.widgettitle {

		color: #555555;
		font-size: ms(2);
		letter-spacing: 0;
		padding: 0 0 0.7em;
    	margin-bottom: 1.5em;
		font-weight: 700;
		position: relative;
		text-transform: uppercase;

		&:before {
			background-color: $color_links;
			content: '';
			width: 70px;
			height: 3px;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	ul {
		margin-left: 0;
		list-style: none;

		ul {
			margin-left: ms(3);
		}
	}
}

.widget-area {
	.widget {
		font-weight: 300;

		a.button {
			font-weight: 600 !important;
		}
	}
}

.header-widget-region {
	@include clearfix;

	.widget {
		margin: 0;
		padding: 1em 0;
		font-size: ms(-1);
	}
}

.widget_search,
.widget_product_search {
	form {
		position: relative;

		input[type=text],
		input[type=search] {
			width: 100%;
		}

		input[type=submit] {
			@include screen-reader-text();
			top: 0;
			left: 0;
		}
	}
}

.widget_recent_entries,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_recent_comments,
.widget_nav_menu,
.widget_links,
.widget_product_categories,
.widget_layered_nav,
.widget_layered_nav_filters {
	ul {
		margin: 0;

		li {
			list-style: none;
			margin-bottom: ms(0);
			padding-bottom: ms(0);
			line-height: ms(2);
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		}

		.children {
			margin-top: ms(-2);
			margin-left: ms(3);
		}

		.children {
			margin-left: 0;
			margin-top: ms(1);
		}
	}
}

.widget-area,
.footer-widgets {
	#wp-calendar {
		th,
		td {
			padding: .236em;
			text-align: center;
		}
	}
}

.widget_recent_entries,
.widget_pages {
	ul {
		ul.children {
			margin: ms(-2) 0 0 ms(2);
		}
	}
}

.widget-area {
	.widget {
		font-size: ms(-1);

		h1.widget-title {
			font-size: ms(2);
		}

		a:not(.button) {
			@include nonUnderlinedLink();
		}
	}
}
