/**
 * Strictly Layout Styles
 */

@include susy-media($desktop) {
	
	.site-header {
		padding: ms(-2) 0;

		.header-left {
			@include span(8 of 12);
			display: block;
			position: relative;

			.site-branding {
				display: block;
				clear: both;
				margin-left: 60px;
				img {
					height: auto;
					max-width: 100%;
					max-height: none;
				}
			}

		}
		.header-right {
			@include span( last 4 of 12);
			position: relative;
			min-height: 40px;

			.search-toggle {

			}
		}

	}

	

	.site-branding {
		.site-description {
			margin-bottom: 0;
			display: block;
		}
	}

	.site-branding,
	.site-search,
	.site-header-cart,
	.site-logo-anchor,
	.site-logo-link,
	.custom-logo-link {
		margin-bottom: ms(2);
	}

	.site-header {

		.subscribe-and-connect-connect {
			float: right;
			margin-bottom: 1em;

			.icons {
				list-style: none;
				margin: 0;

				a {
					font-size: 1em !important;
				}

				li {
					margin: 0 0 0 ms(-3) !important;
					display: inline-block;
				}
			}
		}
	}

	.col-full {
		@include clearfix;
		@include container($container-width);
		padding: 0 ms(5);
		box-sizing: content-box;
	}

	.site-content {
		@include clearfix;
	}

	.content-area {
		@include span(8 of 12);
	}

	.widget-area {
		@include span(last 4 of 12);
	}

	.right-sidebar {
		.content-area {
			@include span(9 of 12);
		}

		.widget-area {
			@include span(last 3 of 12);
		}
	}

	.left-sidebar {
		.content-area {
			@include span(last 9 of 12);
		}

		.widget-area {
			@include span(3 of 12);
		}
	}
	.none-sidebar {

		.content-area {
			@include span( full );
		}
		.widget-area {

			display: none;
		}
	}

	.azonbooster-full-width-content {
		.content-area {
			@include span(full);
		}
	}

	.thumbnail-on-top {
		.post-thumnbnail,
		.entry-header,
		.entry-content{
			width: 100%;
		}
	}
	.thumbnail-on-left {

		.post-thumnbnail {

			@include span(4 of 12);
			margin-top: 10px;
		}
		.entry-header,
		.entry-content {

			@include span(last 8 of 12);
		}
	}
	.thumbnail-on-right {

		.post-thumnbnail {

			@include span( last 4 of 12);
			margin-top: 10px;
		}
		.entry-header,
		.entry-content {

			@include span( 8 of 12);
		}
	}
	
	.disable-thumbnail {
		.entry-header,
		.entry-content {

			@include span( full );
		}
	}

	.content-area,
	.widget-area {
		margin-bottom: ms(5);
	}

	/**
	 * Full width & homepage template
	 */
	.page-template-template-fullwidth-php,
	.page-template-template-homepage-php {
		.content-area {
			@include span(full);
		}
	}

	/**
	 * Footer widgets
	 */
	.footer-widgets {
		@include clearfix;
		padding-top: ms(7);

		&.col-2 {
			.block {
				@include span(6 of 12);

				&.footer-widget-2 {
					@include last;
				}
			}
		}

		&.col-3 {
			.block {
				@include span(4 of 12);

				&.footer-widget-3 {
					@include last;
				}
			}
		}

		&.col-4 {
			.block {
				@include span(3 of 12);

				&.footer-widget-4 {
					@include last;
				}
			}
		}
	}

	/**
	 * Comments
	 */
	.comment-list {
		@include clearfix;

		.comment {
			clear: both;
		}

		.comment-meta {
			@include span(2 of 9);
			text-align: right;

			.avatar {
				float: right;
			}
		}

		.comment-content {
			padding-bottom: ms(6);
			margin-bottom: ms(6);
		}

		.comment-content,
		#respond {
			@include span(last 7 of 9);
		}

		#respond {
			float: right;
			.comment-form-author,
			.comment-form-email,
			.comment-form-url {
				width: 100%;
				margin-right: 0;
			}
		}

		.comment-body {
			#respond {
				box-shadow: 0 6px 2em rgba(#000,.2);
				margin-bottom: ms(5);
				margin-top: - ms(3);
			}
		}

		.reply {
			clear: both;
			text-align: right;
		}

		ol.children {
			@include span(last 8 of 9);
			list-style: none;

			.comment-meta {
				@include span(2 of 8);
			}

			.comment-content,
			#respond {
				@include span(last 6 of 8);
			}

			ol.children {
				@include span(last 7 of 8);

				.comment-meta {
					@include span(2 of 7);
				}

				.comment-content,
				#respond {
					@include span(last 5 of 7);
				}

				ol.children {
					@include span(last 6 of 7);

					.comment-meta {
						@include span(2 of 6);
					}

					.comment-content,
					#respond {
						@include span(last 4 of 6);
					}

					ol.children {
						@include span(last 5 of 6);

						.comment-meta {
							@include span(2 of 5);
						}

						.comment-content,
						#respond {
							@include span(last 3 of 5);
						}
					}
				}
			}
		}
	}

	#respond {
		padding: ms(5);

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			@include span(3 of 9);
		}

		.comment-form-url {
			@include last;
		}

		.comment-form-comment {
			clear: both;
		}
	}

	/**
	 * Content
	 */
	.type-post {
		@include clearfix;

		.entry-header {
			/* @include span(12); */
			margin-bottom: ms(1);

			.entry-meta {
				font-size: ms(-1);
			}
		}

		.entry-content {
			/* @include span(12); */
		}
	}

}

@include susy-media (max-width $container-width) {
	.col-full {
		margin-left: ms(5);
		margin-right: ms(5);
		padding: 0;
	}
}

@include susy-media (max-width $handheld) {
	.col-full {
		margin-left: ms(2);
		margin-right: ms(2);
		padding: 0;
	}
}
