.azulclaro {
  color:#4481BD;
}
.azulescuro {
  color:#4481BD
}

.rosabold {
  color:#ad098f;
  font-weight: 500
}
@media only screen and (max-width: 1600px) {
    .page-header {
        min-height: 120vh;
        max-height: 999px;
        padding: 0;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
    }
    .page-header .content-center {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFFFFF;
        padding: 0 15px;
        width: 100%;
        max-width: 1200px;
    }
  }
@media only screen and (max-width: 600px) {
    .page-header {
        min-height: 90vh;
        max-height: 999px;
        padding: 0;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
    }
    .page-header .content-center {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFFFFF;
        padding: 0 15px;
        width: 100%;
        max-width: 1200px;
    }
    h1, .h1 {
        font-size: 3em;
        line-height: 1.15;
        margin-bottom: 30px;
    }
}
.text-danger {
    font-size: 11px;
    font-weight: 800;
    right: 7px;
    position: absolute;
    bottom: 42px;
}
.form-control+.form-control-feedback {
    border-radius: 0.25rem;
    font-size: 11px;
    margin-top: -6px;
    position: absolute;
    right: 7px;
    top: 9px;
    vertical-align: middle;
    font-weight: 800;

}
.has-danger:after {
    content: "\ea53";
    color: #FF3636;
    position: absolute;
    top: 40px;
    right: 15px;
    font-weight: 500;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 11px;
}
.col-form-label {
    padding-top: calc(0.1rem);
    padding-bottom: calc(.1rem);
    margin-bottom: 0;
    font-size: 11px;
    line-height: 1.5;
}

.btn.btn-simple, .navbar .navbar-nav>a.btn.btn-simple {
    color: #E6E6E6;
    border-color: #E6E6E6;
}
.navbar .navbar-nav .nav-item.active .nav-link:not(.btn), .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus, .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover, .navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
    background-color: rgba(139, 14, 86, 0.3);
    border-radius: 0.1875rem;
}
[class*="features-"], [class*="team-"], [class*="projects-"], [class*="pricing-"], [class*="testimonials-"], [class*="contactus-"] {
    padding-bottom: 40px;
    padding-top: 10px;
}
.navbar a:not(.btn):not(.dropdown-item) {
    color: #fff;
}
#modalidade-error {
  position: absolute;
bottom: 59px;
}
#estado-error {
  position: absolute;
bottom: 51px;
right: 0;
}
#cidade-error {
  position: absolute;
bottom: 51px;
right: 0;
}
#possuicnpj-error {
  position: absolute;
  bottom: 59px;
  right: 0;
}
#tipopessoa-error {
  position: absolute;
  bottom: 116px;
  left: 180px;
}

.js div#preloader { position: fixed; left: 0; top: 0; z-index: 9999; width: 100%; height: 100%; overflow: visible; background: 	#39B49A url('https://cdn.dribbble.com/users/668360/screenshots/3425402/03_heartbeat-loader-animation-800x600.gif') no-repeat center center; }



.btn-success-gradiant {
    background: #7200ff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #7200ff 0%, #ca3de2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #7200ff 0%,#ca3de2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #7200ff 0%,#ca3de2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7200ff', endColorstr='#ca3de2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.card-background::after {

    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: #3840C5;
    border-radius: 0.25rem;

}

.info .info-title {
    margin: 25px 0 15px;
    padding: 0 15px;
    color: #FF799C;
    font-weight: 800;
}

.bordavalorparcela {
    background-color: #f1f1f1;
    border-radius: 14px;
    padding-top: -1px;
    padding-right: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    font-weight: 800;
    color:#01A999;
}

.valortotalcarta {
    color: #62A5F3;
    font-weight: 800;
}

.btntopoCotacao {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7200ff+0,ca3de2+100 */
background: #7200ff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #7200ff 0%, #ca3de2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #7200ff 0%,#ca3de2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #7200ff 0%,#ca3de2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7200ff', endColorstr='#ca3de2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  button.learn-more {
    width: 15rem;
    height: auto;
  }
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #7200ff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #7200ff 0%, #ca3de2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #7200ff 0%,#ca3de2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #7200ff 0%,#ca3de2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7200ff', endColorstr='#ca3de2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 1.625rem;
  }
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  button:hover .circle {
    width: 100%;
  }
  button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
  }
  button:hover .button-text {
    color: #fff;
  }