.owl-carousel .animated { -webkit-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.owl-carousel .owl-animated-in { z-index: 0 }
.owl-carousel .owl-animated-out { z-index: 1 }
.owl-carousel .fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; }
@-webkit-keyframes fadeOut { 
0% { opacity: 1 }
100% { opacity: 0 }
}
@keyframes fadeOut { 
0% { opacity: 1 }
100% { opacity: 0 }
} .owl-height { transition: height 500ms ease-in-out } .owl-carousel { display: none; width: 100%; -webkit-tap-highlight-color: transparent; position: relative; z-index: 1; }
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; -webkit-transform: translate3d(0px, 0px, 0px); clear: both; }
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot, .slider-nav-item { cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-loaded { display: block }
.owl-carousel.owl-loading { opacity: 0; display: block; }
.owl-carousel.owl-hidden { opacity: 0 }
.owl-carousel .owl-refresh .owl-item { display: none }
.owl-carousel .owl-item { position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-item img { display: block; width: 100%; -webkit-transform-style: preserve-3d; }
.owl-carousel.owl-text-select-on .owl-item { -webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; }
.owl-carousel .owl-grab { cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }
.owl-carousel.owl-rtl { direction: rtl }
.owl-carousel.owl-rtl .owl-item { float: right } .no-js .owl-carousel { display: block } .owl-carousel .owl-item .owl-lazy { opacity: 0; transition: opacity 400ms ease; }
.owl-carousel .owl-item img { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-backface-visibility: hidden; } .owl-carousel .owl-video-wrapper { position: relative; height: 100%; background: #000; }
.owl-carousel .owl-video-play-icon { position: absolute; height: 80px; width: 80px; left: 50%; top: 50%; margin-left: -40px; margin-top: -40px; background: url(//planosdesaude360.com.br/wp-content/themes/mts_socialnow/css/owl.video.play.png) no-repeat; cursor: pointer; z-index: 1; -webkit-backface-visibility: hidden; transition: scale 100ms ease; }
.owl-carousel .owl-video-play-icon:hover { transition: scale(1.3, 1.3) }
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon { display: none }
.owl-carousel .owl-video-tn { opacity: 0; height: 100%; background-position: center center; background-repeat: no-repeat; background-size: contain; transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame { position: relative; z-index: 1; } .slide-caption { 
position: absolute; 
float: left; 
max-height: 250px; 
bottom: 28px; 
left: 30px; 
-webkit-backface-visibility: hidden;  
box-sizing: border-box;
}
.slide-title {
float: none;
font-size: 16px;
padding: 0;
margin-bottom: 0;
}
.owl-dots { position: absolute; bottom: 8%; right: 3%; text-align: center; box-sizing: border-box; }
.owl-controls .owl-dot { display: inline-block; margin: 0 2px; zoom: 1; }
.owl-controls .owl-dot span {display: block;width: 11px;height: 11px;background-color: #A5A5A5;cursor: pointer;}
.owl-controls .owl-dot.active span, .owl-controls .owl-dot:hover span { background-color: #ffffff }
.owl-prev, .owl-next { position: absolute; display: inline-block; top: 50%; margin-top: -18px; text-align: center; font-size: 28px; width: 36px; line-height: 36px; color: #ffffff; background-color: #444; }
.widget .owl-prev, .widget .owl-next {
top: 0;
margin-top: 0;
background: transparent;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.owl-prev { left: 0 }
.owl-next { right: 0 }
.owl-prev:hover, .owl-next:hover { background-color: #ff5722 }
.owl-nav .fa { line-height: 36px }
.owl-controls .disabled { display: none!important } .slider-container img[src=""] { display: none !important }
.slider-container.loading .slide, .owl-carousel.loading .slide, .primary-slider-container.loading .primary-slider-item  { display: none }
.primary-slider { float: left }
.primary-slider-container.loading img, .owl-carousel.loading img { display: none!important }
.primary-slider-container.loading img.slide-first-img, .owl-carousel.loading img.slide-first-image { display: block !important }
.primary-slider-container img[src=""] { display: none !important } .widget-slider { position: relative }
#sidebars .widget-slider .wp-post-image { width: 100%; margin: 0; }
.widget_mts_post_slider_widget .owl-controls { bottom: 0 }
.widget-slider .slide-caption {
top: auto;
bottom: 20px;
right: 0px;
left: 25px;
width: 75%;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.widget-slider .owl-dots {left: 25px;right: auto;padding: 0;bottom: auto;top: 20px;}
.widget-slider .slide-title {
bottom: 0;
padding: 0;
color: #fff;
} .full-slider-container {
float: left;
width: 100%;
position: relative;
}
#thumb {
position: absolute;
bottom: 15px;
}
#thumb .item {
float: left;
width: 100%;
color: #FFF;
text-align: center;
cursor: pointer;
}
#thumb .item:before {
position: absolute;
content: '';
height: 100%;
width: 100%;
top: -3px;
left: -3px;
border: 3px solid #34495e;
border-radius: 50%;
display: none;
}
#thumb.owl-carousel .owl-stage-outer {
padding: 10px 0;
padding-left: 3px;
}
#big-image.owl-carousel .owl-item { overflow: hidden }
#thumb.owl-carousel .owl-item {
max-width: 60px;
overflow: visible;
}
#thumb .current .item:before { display:block; border: 3px solid #ff5722 }
#thumb .current .item img { 
border: 2px solid transparent;
box-sizing: border-box; 
}
.big-image-container { position: relative }
.big-image-container .slider-item { position: relative }
.big-image-container .slider-item:before {
position: absolute;
content: '';
width: 100%;
height: 100%;
top: 0;
left: 0;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.8) 100%);
z-index: 1;
}
.big-image-container .slide-caption {
left: 0;
height: 100%;
bottom: inherit;
top: 100px;
z-index: 2;
}
.owl-item .thecategory {
line-height: 40px;
background: #ff5722;
color: #fff;
padding: 0 15px;
display: inline-block;
text-transform: capitalize;
}
.owl-item .title {
font-size: 60px;
line-height: 1;
color: #fff;
width: 100%;
max-width: 645px;
margin-top: 20px;
margin-bottom: 15px;
padding-bottom: 6px;
transition: all 0.25s ease;
max-height: 120px;
overflow: hidden;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
#big-image .owl-item .title {
font-size: 35px!important;
margin-bottom: 12px;
max-height: 31px;
max-width: 70%;
}
#big-image .slide-content, #big-image1 .post-info { margin-top: 2px }
#thumb1 .owl-item .title {
max-width: 100%;
font-size: 20px;
line-height: 25px;
margin-top: 0;
margin-bottom: 20px;
padding-bottom: 0;
max-height: 50px;
}
#thumb1 .owl-item .post-info { margin-bottom: 5px }
.owl-item .post-info > span { color: #ff5722 }
.owl-item .post-info span.theauthor span { 
color: #fff; 
font-weight: bold; 
}
.big-image-container .custom-nav {
position: relative;
z-index: 10;
width: 100%;
max-width: 1170px;
margin: 0 auto;
} 
#thumb1 {
padding: 0px 1px;
box-sizing: border-box;
position: absolute;
bottom: 30px;
}
#thumb1 .item {
padding-right: 10px;
padding-left: 35px;
padding-top: 5px;
cursor: pointer;
}
#thumb1 .item:before {
position: absolute;
content: '';
height: 100%;
width: 100%;
border-left: 4px solid #34495e;
top: 2px;
left: 0px;
}
#thumb1 .current .item:before { border-left: 4px solid #ff5722 }
#thumb1 .owl-prev, #thumb1 .owl-next { background: transparent; }
#thumb1 .owl-prev svg, #thumb1 .owl-next svg { width: 45px; }
#thumb1 .owl-prev { left: -60px }
#thumb1 .owl-next { right: -50px }
.big-image-container .owl-controls {
max-width: 1170px;
margin: 0 auto;
float: none;
position: relative;
}
.big-image-container .owl-controls .owl-prev, .big-image-container .owl-controls .owl-next {
color: #fff;
position: absolute;
cursor: pointer;
top: inherit;
bottom: 250px;
background: transparent;
}
#big-image .owl-controls .owl-prev, 
#big-image .owl-controls .owl-next { bottom: 180px }
.big-image-container .owl-controls .owl-prev svg, 
.big-image-container .owl-controls .owl-next svg { width: 70px }
.big-image-container .owl-controls .owl-prev {
left: inherit;
right: 100px;
margin-left: -25px;
}
.big-image-container .owl-controls .owl-next { right: 30px }
.primary-slider-container .owl-next, .primary-slider-container .owl-prev {
top: inherit;
bottom: 12px;
background: transparent;
}
.primary-slider-container .owl-next svg, .primary-slider-container .owl-prev svg { width: 50px }
.primary-slider-container .owl-next:hover, .primary-slider-container .owl-prev:hover { background: transparent }
.primary-slider-container .owl-next { right: 30px }
.primary-slider-container .owl-prev {
left: inherit;
right: 75px;
} 
#big-image .slide-caption {
width: 100%;
max-width: 100%;
top: 190px;
}
.slide-caption-inner {
float: left;
width: 100%;
background: rgba(52, 73, 94, 0.8);
margin-top: 10px;
padding-top: 5px;
padding-bottom: 30px;
position: relative;
padding-left: 2px;
min-height: 150px;
}
.slide-caption-inner:before {
position: absolute;
content: '';
width: 210px;
height: 100%;
top: 0;
left: -210px;
background: rgba(52, 73, 94, 0.8);
}
.slide-content {
float: left;
width: 100%;
padding-top: 0px;
margin-bottom: 20px;
color: #fff;
max-width: 700px;
width: 60%;
max-height: 50px;
overflow: hidden;
}
.thumb-container img { border-radius: 50%; } .primary-slider-container {
position: relative;
margin-bottom: 30px;
float: left;
width: 100%;
clear: both;
}
.primary-slider .slide-caption { 
max-width: 800px;
z-index: 2; 
}
.primary-slider .primary-slider-item { 
float: left;
width: 100%;
position: relative; 
}
.primary-slider .primary-slider-item:before {
position: absolute;
content: '';
width: 100%;
height: 100%;
left: 0;
top: 0;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
z-index: 1;
transform: translate3d(0, 0, 0);
}
.primary-slider .owl-item .title {
width: 95%;
max-width: 490px;
font-size: 40px;
margin-top: 24px;
margin-bottom: 24px;
padding-bottom: 3px;
}
.primary-slider .post-info { margin-top: 3px }