/* =====================================================================
 *   Addtional Updates or Changes
 * =================================================================== */

 .alert {
     position: relative;
     padding: .75rem 1.25rem;
     margin-bottom: 1rem;
     border: 1px solid transparent;
     border-radius: .25rem;
     font-size: 1.2em;
 }
 .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;

}
