.azulclaro {
  color:#08377F;
}
.azulescuro {
  color:#3166b7
}

.rosabold {
  color:#ad098f;
  font-weight: 500
}
@media only screen and (max-width: 1600px) {
    .page-header {
        min-height: 160vh;
        max-height: 999px;
        padding: 0;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
    }
    .page-header .content-center {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFFFFF;
        padding: 0 15px;
        width: 100%;
        max-width: 1200px;
    }
  }
@media only screen and (max-width: 600px) {
    .page-header {
        min-height: 120vh;
        max-height: 999px;
        padding: 0;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
    }
    .page-header .content-center {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFFFFF;
        padding: 0 15px;
        width: 100%;
        max-width: 1200px;
    }
    h1, .h1 {
        font-size: 3em;
        line-height: 1.15;
        margin-bottom: 30px;
    }
}
.text-danger {
    font-size: 11px;
    font-weight: 800;
    right: 7px;
    position: absolute;
    bottom: 42px;
}
.form-control+.form-control-feedback {
    border-radius: 0.25rem;
    font-size: 11px;
    margin-top: -6px;
    position: absolute;
    right: 7px;
    top: 9px;
    vertical-align: middle;
    font-weight: 800;

}
.has-danger:after {
    content: "\ea53";
    color: #FF3636;
    position: absolute;
    top: 40px;
    right: 15px;
    font-weight: 500;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 11px;
}
.col-form-label {
    padding-top: calc(0.1rem);
    padding-bottom: calc(.1rem);
    margin-bottom: 0;
    font-size: 11px;
    line-height: 1.5;
}

.btn.btn-simple, .navbar .navbar-nav>a.btn.btn-simple {
    color: #E6E6E6;
    border-color: #E6E6E6;
}
.navbar .navbar-nav .nav-item.active .nav-link:not(.btn), .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus, .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover, .navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
    background-color: rgba(139, 14, 86, 0.3);
    border-radius: 0.1875rem;
}
[class*="features-"], [class*="team-"], [class*="projects-"], [class*="pricing-"], [class*="testimonials-"], [class*="contactus-"] {
    padding-bottom: 40px;
    padding-top: 10px;
}
.navbar a:not(.btn):not(.dropdown-item) {
    color: #08377F;
}

.js div#preloader { position: fixed; left: 0; top: 0; z-index: 9999; width: 100%; height: 100%; overflow: visible; background: 	#39B49A url('https://cdn.dribbble.com/users/668360/screenshots/3425402/03_heartbeat-loader-animation-800x600.gif') no-repeat center center; }

.features-4 .card {
    margin-top: 10px;
}
.has-success .form-control {
    border-color: #18ce0f;
    background-color: rgba(222, 222, 222, 0.1);
}
#modalidade-error {
  position: absolute;
bottom: 59px;
}
#estado-error {
  position: absolute;
bottom: 59px;
}
#cidade-error {
  position: absolute;
bottom: 59px;
}
#possuicnpj-error {
  position: absolute;
bottom: 59px;
}
#tipopessoa-error {
  position: absolute;
  bottom: 116px;
  left: 180px;
}
